{
	"swagger": "2.0",
	"info": {
		"version": "v2",
		"title": "OpCos",
		"description": "OpCos"
	},
	"tags": [
		{
			"name": "OpCos",
			"description": "Default"
		},
		{
			"name": "Customers",
			"description": "For systems"
		},
		{
			"name": "CustomerOrders",
			"description": "For systems"
		},
		{
			"name": "Swagger",
			"description": "Swagger"
		}
	],
	"host": "api.nutreco.com",
	"schemes": [
		"https"
	],
	"basePath": "/dev/v2",
	"produces": [
		"application/json",
		"application/xml"
	],
	"paths": {
		"/opcos/": {
			"get": {
				"tags": [
					"OpCos"
				],
				"operationId": "/opcos/",
				"description": "Get all opcos",
				"parameters": [
					{
						"$ref": "#/parameters/Authorization"
					}
				],
				"responses": {
					"200": {
						"description": "All opcos",
						"schema": {
							"$ref": "#/definitions/OpCosRes"
						}
					}
				}
			}
		},
		"/opcos/{opcoId}/contactandabout": {
			"get": {
				"tags": [
					"OpCos"
				],
				"operationId": "/opcos/{opcoId}/contactandabout",
				"description": "Get opcos contact and about",
				"parameters": [
					{
						"$ref": "#/parameters/Authorization"
					},
					{
						"$ref": "#/parameters/opcoId"
					}
				],
				"responses": {
					"200": {
						"description": "opcos contact and about",
						"schema": {
							"$ref": "#/definitions/OpCosContactAndAboutRes"
						}
					}
				}
			}
		},
		"/opcos/{opcoId}/news": {
			"get": {
				"tags": [
					"OpCos"
				],
				"operationId": "/opcos/{opcoId}/news",
				"description": "Get opcos news",
				"parameters": [
					{
						"$ref": "#/parameters/Authorization"
					},
					{
						"$ref": "#/parameters/opcoId"
					}
				],
				"responses": {
					"200": {
						"description": "opcos news html page"
					}
				}
			}
		},
		"/opcos/{opcoId}/customers/{customerId}/products": {
			"get": {
				"tags": [
					"Customers"
				],
				"operationId": "/opcos/{opcoId}/customers/{customerId}/products",
				"description": "[Customers] Get products for systems",
				"parameters": [
					{
						"$ref": "#/parameters/apikey"
					},
					{
						"$ref": "#/parameters/opcoId"
					},
					{
						"$ref": "#/parameters/customerId"
					},
					{
						"$ref": "#/parameters/whs"
					},
					{
						"$ref": "#/parameters/assortment"
					},
					{
						"$ref": "#/parameters/lang"
					}
				],
				"responses": {
					"200": {
						"description": "products",
						"schema": {
							"$ref": "#/definitions/ProductsRes"
						}
					}
				}
			}
		},
		"/opcos/{opcoId}/customers/{customerId}/products/assortment": {
			"get": {
				"tags": [
					"Customers"
				],
				"operationId": "/opcos/{opcoId}/customers/{customerId}/products/assortment",
				"description": "[Customers] Get products in assortment view for systems",
				"parameters": [
					{
						"$ref": "#/parameters/apikey"
					},
					{
						"$ref": "#/parameters/opcoId"
					},
					{
						"$ref": "#/parameters/customerId"
					},
					{
						"$ref": "#/parameters/whs"
					},
					{
						"$ref": "#/parameters/assortment"
					},
					{
						"$ref": "#/parameters/lang"
					}
				],
				"responses": {
					"200": {
						"description": "productsRes",
						"schema": {
							"$ref": "#/definitions/Assortment"
						}
					}
				}
			}
		},
		"/opcos/{opcoId}/customers/{customerId}/products/{productId}/price": {
			"get": {
				"tags": [
					"Customers"
				],
				"operationId": "/opcos/{opcoId}/customers/{customerId}/products/{productId}/price",
				"description": "[Customers] Get product pricing for systems",
				"parameters": [
					{
						"$ref": "#/parameters/apikey"
					},
					{
						"$ref": "#/parameters/opcoId"
					},
					{
						"$ref": "#/parameters/customerId"
					},
					{
						"$ref": "#/parameters/productId"
					},
					{
						"name": "qty",
						"in": "query",
						"required": false,
						"type": "number",
						"default": 1,
						"format": "float"
					},
					{
						"name": "uom",
						"in": "query",
						"required": false,
						"type": "string",
						"default": "KG",
						"enum": [
							"KG"
						]
					},
					{
						"name": "currency",
						"in": "query",
						"required": false,
						"type": "string",
						"default": "EUR",
						"enum": [
							"EUR"
						]
					},
					{
						"name": "date",
						"in": "query",
						"required": false,
						"type": "string",
						"default": "now",
						"format": "date"
					}
				],
				"responses": {
					"200": {
						"description": "product",
						"schema": {
							"$ref": "#/definitions/ProductPriceRes"
						}
					}
				}
			}
		},
		"/opcos/{opcoId}/customers/{customerId}/orders": {
			"get": {
				"tags": [
					"Customers"
				],
				"operationId": "/opcos/{opcoId}/customers/{customerId}/orders",
				"description": "[Customers] Get orders for systems",
				"parameters": [
					{
						"$ref": "#/parameters/apikey"
					},
					{
						"$ref": "#/parameters/opcoId"
					},
					{
						"$ref": "#/parameters/customerId"
					}
				],
				"responses": {
					"200": {
						"description": "orders",
						"schema": {
							"$ref": "#/definitions/OrderRes"
						}
					}
				}
			}
		},
		"/opcos/{opcoId}/customers/{customerId}/sitesettings": {
			"get": {
				"tags": [
					"Customers"
				],
				"operationId": "/opcos/{opcoId}/customers/{customerId}/sitesettings",
				"description": "[Customers] Get sitesettings for systems",
				"parameters": [
					{
						"$ref": "#/parameters/apikey"
					},
					{
						"$ref": "#/parameters/opcoId"
					},
					{
						"$ref": "#/parameters/customerId"
					}
				],
				"responses": {
					"200": {
						"description": "sitesettings",
						"schema": {
							"$ref": "#/definitions/SiteSettingsRes"
						}
					}
				}
			}
		},
		"/opcos/{opcoId}/customers/{customerId}/sitenames": {
			"get": {
				"tags": [
					"Customers"
				],
				"operationId": "/opcos/{opcoId}/customers/{customerId}/sitenames",
				"description": "[Customers] Get sitenames for systems",
				"parameters": [
					{
						"$ref": "#/parameters/apikey"
					},
					{
						"$ref": "#/parameters/opcoId"
					},
					{
						"$ref": "#/parameters/customerId"
					}
				],
				"responses": {
					"200": {
						"description": "sitenames",
						"schema": {
							"$ref": "#/definitions/SiteNamesRes"
						}
					}
				}
			}
		},
		"/opcos/{opcoId}/customerorders": {
			"post": {
				"tags": [
					"CustomerOrders"
				],
				"operationId": "/opcos/{opcoId}/customerorders (POST)",
				"description": "Create order for systems",
				"parameters": [
					{
						"$ref": "#/parameters/apikey"
					},
					{
						"$ref": "#/parameters/opcoId"
					},
					{
						"required": true,
						"in": "body",
						"name": "body",
						"schema": {
							"$ref": "#/definitions/CustomerOrderPostReq"
						}
					}
				],
				"responses": {
					"200": {
						"description": "orders",
						"schema": {
							"$ref": "#/definitions/CustomerOrderPostRes"
						}
					}
				}
			}
		},
		"/opcos/{opcoId}/customerorders/{orderId}": {
			"get": {
				"tags": [
					"CustomerOrders"
				],
				"operationId": "/opcos/{opcoId}/customerorders/{orderid} (GET)",
				"description": "Get order lines for systems",
				"parameters": [
					{
						"$ref": "#/parameters/apikey"
					},
					{
						"$ref": "#/parameters/opcoId"
					},
					{
						"$ref": "#/parameters/orderId"
					}
				],
				"responses": {
					"200": {
						"description": "Customerorders",
						"schema": {
							"$ref": "#/definitions/CustomerOrderRes"
						}
					}
				}
			},
			"put": {
				"tags": [
					"CustomerOrders"
				],
				"operationId": "/opcos/{opcoId}/customerorders/{orderId} (PUT)",
				"description": "Update order for systems",
				"parameters": [
					{
						"$ref": "#/parameters/apikey"
					},
					{
						"$ref": "#/parameters/opcoId"
					},
					{
						"$ref": "#/parameters/orderId"
					},
					{
						"required": true,
						"in": "body",
						"name": "body",
						"schema": {
							"$ref": "#/definitions/UpdateCustomerOrder"
						}
					}
				],
				"responses": {
					"200": {
						"description": "orders",
						"schema": {
							"$ref": "#/definitions/CustomerOrderPutRes"
						}
					}
				}
			},
			"delete": {
				"tags": [
					"CustomerOrders"
				],
				"operationId": "/opcos/{opcoId}/customerorders/{orderId} (DELETE)",
				"description": "Delete order for systems",
				"parameters": [
					{
						"$ref": "#/parameters/apikey"
					},
					{
						"$ref": "#/parameters/opcoId"
					},
					{
						"$ref": "#/parameters/orderId"
					}
				],
				"responses": {
					"200": {
						"description": "orders",
						"schema": {
							"$ref": "#/definitions/CustomerOrderDeleteRes"
						}
					}
				}
			}
		},
		"/opcos/{opcoId}/customerorders/{orderId}/deliverydate": {
			"put": {
				"tags": [
					"CustomerOrders"
				],
				"operationId": "/opcos/{opcoId}/customerorders/{orderId}/deliverydate (PUT)",
				"description": "Update order deliverydate for systems",
				"parameters": [
					{
						"$ref": "#/parameters/apikey"
					},
					{
						"$ref": "#/parameters/opcoId"
					},
					{
						"$ref": "#/parameters/orderId"
					},
					{
						"required": true,
						"in": "body",
						"name": "body",
						"schema": {
							"$ref": "#/definitions/UpdateCustomerOrderDeliveryDateReq"
						}
					}
				],
				"responses": {
					"200": {
						"description": "orders",
						"schema": {
							"$ref": "#/definitions/CustomerOrderPutDelDateRes"
						}
					}
				}
			}
		},
		"/opcos/swagger.json": {
			"get": {
				"tags": [
					"Swagger"
				],
				"operationId": "/customers/swagger.json",
				"description": "this swaggers documentation",
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					}
				}
			}
		}
	},
	"definitions": {
		"Article": {
			"type": "object",
			"properties": {
				"Title": {
					"type": "string"
				},
				"LevelId": {
					"type": "string"
				},
				"Children": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Article"
					}
				},
				"Products": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Product"
					}
				}
			}
		},
		"Assortment": {
			"type": "object",
			"properties": {
				"articleListChanged": {
					"type": "boolean"
				},
				"hash": {
					"type": "string"
				},
				"articleList": {
					"type": "array",
					"items": {
						"type": "object",
						"properties": {
							"Title": {
								"type": "string"
							},
							"LevelId": {
								"type": "string"
							},
							"Children": {
								"type": "array",
								"items": {},
								"uniqueItems": false
							},
							"Products": {
								"type": "array",
								"uniqueItems": false,
								"items": {
									"type": "object",
									"properties": {
										"oiitno": {
											"type": "string"
										},
										"mmgrp1": {
											"type": "string"
										},
										"mmgrp3": {
											"type": "string"
										},
										"mmgrp4": {
											"type": "string"
										},
										"mmitds": {
											"type": "string"
										},
										"mbtomu": {
											"type": "string"
										},
										"mmunms": {
											"type": "string"
										},
										"mpvfdt": {
											"type": "string"
										},
										"mplvdt": {
											"type": "string"
										},
										"segrp1": {
											"type": "string"
										},
										"segrp3": {
											"type": "string"
										},
										"segrp4": {
											"type": "string"
										},
										"mualun1": {
											"type": "string"
										},
										"mualun2": {
											"type": "string"
										},
										"mdfuds": {
											"type": "string"
										},
										"package_type": {
											"type": "string"
										},
										"package_size": {
											"type": "string"
										},
										"BulkArticle": {
											"type": "boolean"
										},
										"barcode": {
											"type": "string"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"OrderRes": {
			"type": "object",
			"properties": {
				"Succes": {
					"type": "boolean"
				},
				"Orders": {
					"type": "array",
					"items": {
						"type": "object",
						"properties": {
							"Date": {
								"type": "string"
							},
							"HasOrder": {
								"type": "boolean"
							},
							"Warehouse": {
								"type": "string"
							},
							"WarehouseDesc": {
								"type": "string"
							},
							"OrderHead": {
								"$ref": "#/definitions/OrderHead"
							}
						}
					}
				}
			}
		},
		"OrderHead": {
			"type": "object",
			"properties": {
				"OrderNo": {
					"type": "string"
				},
				"OrderDate": {
					"type": "string"
				},
				"CustomerReference": {
					"type": "string"
				},
				"CUOR": {
					"type": "string"
				},
				"RequestedDeliveryDate": {
					"type": "string"
				},
				"Status": {
					"type": "string"
				},
				"NetWeight": {
					"type": "string"
				},
				"MODL": {
					"type": "string"
				},
				"WarehouseLocation": {
					"type": "string"
				},
				"WarehouseID": {
					"type": "string"
				},
				"CanTrack": {
					"type": "boolean"
				},
				"ETATrack": {
					"type": "string"
				},
				"CustomerName": {
					"type": "string"
				},
				"CustNo": {
					"type": "string"
				},
				"ETATrackId": {
					"type": "integer"
				},
				"CommentID": {
					"type": "string"
				},
				"CarrierInfo": {
					"type": "string"
				},
				"Changeable": {
					"type": "boolean"
				},
				"NotChangeableReason": {
					"type": "string"
				},
				"Priority": {
					"type": "string"
				},
				"Oref": {
					"type": "string"
				},
				"AddressId": {
					"type": "string"
				},
				"OrderLines": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/OrderLine"
					}
				},
				"Comments": {
					"type": "string"
				},
				"Diesel": {
					"type": "string"
				},
				"Water": {
					"type": "string"
				}
			}
		},
		"OrderLine": {
			"type": "object",
			"properties": {
				"Lineno": {
					"type": "string"
				},
				"Itemno": {
					"type": "string"
				},
				"ItemDescription": {
					"type": "string"
				},
				"RequestedDeliveryDate": {
					"type": "string"
				},
				"DeliverySpecification": {
					"type": "string"
				},
				"ConfirmedDeliveryDate": {
					"type": "string"
				},
				"OrderedQuantity": {
					"type": "string"
				},
				"Status": {
					"type": "string"
				},
				"Changeable": {
					"type": "boolean"
				},
				"NotChangeableReason": {
					"type": "string"
				},
				"OrderNo": {
					"type": "string"
				}
			}
		},
		"Product": {
			"type": "object",
			"properties": {
				"itemnumber": {
					"type": "string"
				},
				"totalprice": {
					"type": "number"
				},
				"currency": {
					"type": "string"
				},
				"priceuom": {
					"type": "number"
				},
				"qty": {
					"type": "number"
				},
				"uom": {
					"type": "string",
					"enum": [
						"KG"
					]
				},
				"orderdate": {
					"type": "string"
				},
				"ordertype": {
					"type": "string"
				}
			}
		},
		"ProductPriceRes": {
			"type": "object",
			"properties": {
				"products": {
					"type": "array",
					"items": {
						"type": "object",
						"properties": {
							"itemnumber": {
								"type": "string"
							},
							"totalprice": {
								"type": "number"
							},
							"currency": {
								"type": "string"
							},
							"priceuom": {
								"type": "number"
							},
							"qty": {
								"type": "number"
							},
							"uom": {
								"type": "string",
								"enum": [
									"KG"
								]
							},
							"orderdate": {
								"type": "string"
							},
							"ordertype": {
								"type": "string"
							}
						}
					}
				}
			}
		},
		"ProductsRes": {
			"type": "object",
			"properties": {
				"articleListChanged": {
					"type": "boolean"
				},
				"hash": {
					"type": "string"
				},
				"articleList": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Article"
					}
				}
			}
		},
		"SiteSettingsRes": {
			"type": "object",
			"properties": {
				"Success": {
					"type": "boolean"
				},
				"CanDeliverToLocationWithoutPeoplePresent": {
					"type": "boolean"
				},
				"CustIsInLeague": {
					"type": "boolean"
				},
				"NeedsSMSLogin": {
					"type": "boolean"
				},
				"SiteAccessList": {
					"type": "array"
				},
				"CustomerName": {
					"type": "string"
				},
				"SiteName": {
					"type": "string"
				},
				"SiteStorageCapacity": {
					"type": "number"
				},
				"SunriseTime": {
					"type": "string"
				},
				"SunsetTime": {
					"type": "string"
				},
				"DaylightHours": {
					"type": "number"
				},
				"DaylightMinutes": {
					"type": "number"
				},
				"OrderPhoneNr": {
					"type": "string"
				},
				"HasGpsData": {
					"type": "boolean"
				},
				"Gpslng": {
					"type": "number"
				},
				"Gpslat": {
					"type": "number"
				},
				"Gpsdate": {
					"type": "string"
				},
				"HasLiceData": {
					"type": "boolean"
				},
				"AvgAdultFemaleLice": {
					"type": "number"
				},
				"AreaAdultFemaleLice": {
					"type": "number"
				},
				"HasMobileAndStationaryLiceData": {
					"type": "boolean"
				},
				"AvgMobileLice": {
					"type": "number"
				},
				"AvgStationaryLice": {
					"type": "number"
				},
				"Licedate": {
					"type": "string"
				},
				"HasTempData": {
					"type": "boolean"
				},
				"SeaTemperature": {
					"type": "number"
				},
				"Tempdate": {
					"type": "string"
				},
				"HasLatestDailyFeedingData": {
					"type": "boolean"
				},
				"LatestDailyFeeding": {
					"type": "number"
				},
				"LatestDailyFeedingDate": {
					"type": "number"
				},
				"SiteCoordinateList": {
					"type": "array",
					"items": {
						"type": "object",
						"properties": {
							"Sitename": {
								"type": "number"
							},
							"Gpslng": {
								"type": "number"
							},
							"Gpslat": {
								"type": "number"
							},
							"AvgAdultFemaleLice": {
								"type": "number"
							},
							"AvgMobileLice": {
								"type": "number"
							},
							"AvgStationaryLice": {
								"type": "number"
							}
						}
					}
				}
			}
		},
		"SiteNamesRes": {
			"type": "array",
			"items": {
				"type": "object",
				"properties": {
					"CustNo": {
						"type": "string"
					},
					"Name": {
						"type": "string"
					}
				}
			}
		},
		"CustomerOrderRes": {
			"type": "object",
			"properties": {
				"OrderNo": {
					"type": "string",
					"x-primary-key": true
				},
				"Comments": {
					"type": "string"
				},
				"OrderLines": {
					"type": "array",
					"items": {
						"type": "object",
						"properties": {
							"Lineno": {
								"type": "string"
							},
							"Itemno": {
								"type": "number"
							},
							"ItemDescription": {
								"type": "string"
							},
							"RequestedDeliveryDate": {
								"type": "string"
							},
							"DeliverySpecification": {
								"type": "string"
							},
							"ConfirmedDeliveryDate": {
								"type": "string"
							},
							"OrderedQuantity": {
								"type": "string"
							},
							"Status": {
								"type": "string"
							},
							"Changeable": {
								"type": "boolean"
							},
							"NotChangeableReason": {
								"type": "string"
							},
							"OrderNo": {
								"type": "number"
							}
						}
					}
				},
				"Success": {
					"type": "boolean"
				},
				"Messages": {
					"type": "array"
				}
			}
		},
		"CustomerOrderPutRes": {
			"type": "object",
			"properties": {
				"OrderNo": {
					"type": "string",
					"x-primary-key": true
				},
				"Success": {
					"type": "boolean"
				},
				"LineChangesSuccess": {
					"type": "boolean"
				},
				"CommentOperation": {
					"type": "string"
				},
				"CommentOperationSuccess": {
					"type": "boolean"
				},
				"OrderHeadOperation": {
					"type": "string"
				},
				"OrderHeadOperationSuccess": {
					"type": "boolean"
				},
				"CommentID": {
					"type": "string"
				},
				"Messages": {
					"type": "array"
				},
				"UpdateResults": {
					"type": "array"
				},
				"DeleteResults": {
					"type": "array"
				},
				"AddOrderLineResults": {
					"type": "array"
				}
			}
		},
		"CustomerOrderPostReq": {
			"type": "object",
			"properties": {
				"CustNo": {
					"type": "string",
					"x-primary-key": true
				},
				"DeliveryDate": {
					"type": "string"
				},
				"CustomerReference": {
					"type": "string"
				},
				"Warehouse": {
					"type": "string"
				},
				"Comment": {
					"type": "string"
				},
				"orderLines": {
					"type": "array",
					"items": {
						"type": "object",
						"properties": {
							"ArticleNr": {
								"type": "string"
							},
							"Number": {
								"type": "number"
							},
							"LoadingSpecification": {
								"type": "string"
							}
						}
					}
				}
			}
		},
		"CustomerOrderPostRes": {
			"type": "object",
			"properties": {
				"Success": {
					"type": "string"
				},
				"OrderNo": {
					"type": "string"
				},
				"Messages": {
					"items": {
						"type": "string"
					},
					"type": "array"
				}
			}
		},
		"CustomerOrderDeleteRes": {
			"type": "object",
			"properties": {
				"Success": {
					"type": "string"
				},
				"Messages": {
					"items": {
						"type": "string"
					},
					"type": "array"
				}
			}
		},
		"CustomerOrderPutDelDateRes": {
			"type": "object",
			"properties": {
				"result": {
					"type": "string"
				}
			}
		},
		"OpCosRes": {
			"type": "object",
			"properties": {
				"Succes": {
					"type": "string"
				},
				"OpCos": {
					"type": "array",
					"items": {
						"type": "object",
						"properties": {
							"CompanyConfigId": {
								"type": "string"
							},
							"CompanyName": {
								"type": "string"
							},
							"App": {
								"type": "string"
							},
							"Installation": {
								"type": "string"
							},
							"Environment": {
								"type": "string"
							},
							"Cono": {
								"type": "string"
							},
							"Divi": {
								"type": "string"
							},
							"Faci": {
								"type": "string"
							},
							"Whlo": {
								"type": "string"
							},
							"Ortp": {
								"type": "string"
							},
							"Rss": {
								"type": "string"
							},
							"ComplaintMailReceivers": {
								"type": "string"
							}
						}
					}
				}
			}
		},
		"OpCosContactAndAboutRes": {
			"type": "object",
			"properties": {
				"Data": {
					"type": "object",
					"properties": {
						"ContactInfos": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"Id": {
										"type": "number"
									},
									"CompanyConfigId": {
										"type": "number"
									},
									"Title": {
										"type": "string"
									},
									"PhoneNr": {
										"type": "string"
									},
									"Email": {
										"type": "string"
									}
								}
							}
						},
						"AboutInfoForCompany": {
							"type": "object",
							"properties": {
								"Id": {
									"type": "number"
								},
								"CompanyConfigId": {
									"type": "number"
								},
								"Url": {
									"type": "number"
								},
								"ImageRows": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"Description": {
												"type": "string"
											},
											"Image": {
												"type": "string"
											},
											"ImageCaption": {
												"type": "string"
											}
										}
									}
								}
							}
						}
					}
				},
				"HasChanged": {
					"type": "string"
				},
				"Hash": {
					"type": "string"
				}
			}
		},
		"UpdateCustomerOrder": {
			"properties": {
				"AddOrderLines": {
					"items": {
						"properties": {
							"ArticleNr": {
								"type": "string"
							},
							"LoadingSpecification": {
								"type": "string"
							},
							"Number": {
								"type": "string"
							}
						},
						"type": "object"
					},
					"type": "array"
				},
				"DeleteLines": {
					"items": {
						"type": "integer"
					},
					"type": "array"
				},
				"UpdateLines": {
					"items": {
						"properties": {
							"LineNo": {
								"type": "string"
							},
							"LoadingSpecification": {
								"type": "string"
							},
							"Quantity": {
								"type": "string"
							}
						},
						"type": "object"
					},
					"type": "array"
				}
			},
			"type": "object"
		},
		"UpdateCustomerOrderDeliveryDateReq": {
			"type": "object",
			"properties": {
				"NewDate": {
					"type": "string"
				}
			}
		}
	},
	"parameters": {
		"Authorization": {
			"name": "Authorization",
			"in": "header",
			"description": "Bearer token",
			"required": true,
			"type": "string",
			"default": "Bearer AAAAAAAAAAAAAAAAAAAAAAAAAAAA",
			"pattern": "Bearer [A-Za-z0-9]{28}"
		},
		"apikey": {
			"name": "apikey",
			"in": "header",
			"description": "apikey / Consumer Key",
			"required": true,
			"type": "string",
			"default": "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
			"pattern": "^[A-Za-z0-9]{32}$"
		},
		"customerId": {
			"name": "customerId",
			"in": "path",
			"required": true,
			"type": "string",
			"default": "124748"
		},
		"opcoId": {
			"name": "opcoId",
			"in": "path",
			"required": true,
			"type": "string",
			"default": "1"
		},
		"lang": {
			"name": "lang",
			"in": "query",
			"required": false,
			"type": "string",
			"default": "EN",
			"enum": [
				"EN",
				"NL",
				"ES",
				"PT"
			]
		},
		"productId": {
			"name": "productId",
			"in": "path",
			"required": true,
			"type": "string",
			"default": "124681"
		},
		"orderId": {
			"name": "orderId",
			"in": "path",
			"required": true,
			"type": "integer",
			"default": "0010158899",
			"format": "int32"
		},
		"whs": {
			"name": "whs",
			"in": "query",
			"required": false,
			"type": "string"
		},
		"assortment": {
			"name": "assortment",
			"in": "query",
			"required": false,
			"type": "string"
		}
	}
}
