{
	"swagger": "2.0",
	"info": {
		"title": "OpCos",
		"version": "v2"
	},
	"tags": [
		{
			"name": "OpCos",
			"description": "Operation Companies"
		},
		{
			"name": "Customers",
			"description": "Customer API for backend systems"
		},
		{
			"name": "Products",
			"description": "Products API for backend systems"
		},
		{
			"name": "CustomerOrders",
			"description": "CustomerOrders API for backend systems"
		},
		{
			"name": "Swagger",
			"description": "Swagger"
		}
	],
	"host": "api.nutreco.com",
	"schemes": [
		"https"
	],
	"basePath": "/test/v2",
	"produces": [
		"application/json",
		"application/xml"
	],
	"securityDefinitions": {
		"apikey": {
			"type": "apiKey",
			"name": "apikey",
			"in": "header"
		},
		"oauth": {
			"type": "oauth2",
			"tokenUrl": "https://api.nutreco.com/dev/v2/login/token",
			"flow": "password",
			"scopes": {
				"Customer": "InAppCustomer"
			}
		}
	},
	"paths": {
		"/opcos": {
			"get": {
				"operationId": "get_opcos",
				"tags": [
					"OpCos"
				],
				"security": [
					{
						"oauth": [
							"Customer"
						]
					}
				],
				"parameters": [],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object",
							"properties": {
								"Success": {
									"type": "boolean"
								},
								"OpCos": {
									"type": "array",
									"items": {
										"$ref": "#/definitions/OperationCompany"
									}
								}
							}
						}
					}
				}
			}
		},
		"/opcos/{opcoId}": {
			"get": {
				"operationId": "get_opco",
				"tags": [
					"OpCos"
				],
				"security": [
					{
						"oauth": [
							"Customer"
						]
					}
				],
				"parameters": [
					{
						"$ref": "#/parameters/opcoId"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/OperationCompany"
						}
					}
				}
			}
		},
		"/opcos/{opcoId}/contactandabout": {
			"get": {
				"operationId": "get_opco_contactandabout",
				"tags": [
					"OpCos"
				],
				"security": [
					{
						"oauth": [
							"Customer"
						]
					}
				],
				"parameters": [
					{
						"$ref": "#/parameters/opcoId"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/OpCosContactAndAboutRes"
						}
					}
				}
			}
		},
		"/opcos/{opcoId}/news": {
			"get": {
				"operationId": "get_opco_news",
				"tags": [
					"OpCos"
				],
				"security": [
					{
						"oauth": [
							"Customer"
						]
					}
				],
				"parameters": [
					{
						"$ref": "#/parameters/opcoId"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				}
			}
		},
		"/opcos/{opcoId}/customers/{customerId}/products": {
			"get": {
				"operationId": "get_opco_products",
				"tags": [
					"Products"
				],
				"security": [
					{
						"apikey": []
					}
				],
				"parameters": [
					{
						"$ref": "#/parameters/opcoId"
					},
					{
						"$ref": "#/parameters/customerId"
					},
					{
						"$ref": "#/parameters/lang"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object",
							"properties": {
								"articleListChanged": {
									"type": "boolean"
								},
								"hash": {
									"type": "string"
								},
								"articleList": {
									"type": "array",
									"items": {
										"$ref": "#/definitions/Article"
									}
								}
							}
						}
					}
				}
			}
		},
		"/opcos/{opcoId}/customers/{customerId}/products/pricelist": {
			"get": {
				"operationId": "get_opco_pricelist",
				"tags": [
					"Products"
				],
				"security": [
					{
						"apikey": []
					}
				],
				"parameters": [
					{
						"name": "opcoId",
						"in": "path",
						"required": true,
						"type": "string",
						"default": "12"
					},
					{
						"name": "customerId",
						"in": "path",
						"required": true,
						"type": "string",
						"default": "149516"
					},
					{
						"$ref": "#/parameters/lang"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object",
							"properties": {
								"Products": {
									"type": "array",
									"items": {
										"$ref": "#/definitions/Product"
									}
								}
							}
						}
					}
				}
			}
		},
		"/opcos/{opcoId}/customers/{customerId}/products/{productId}": {
			"get": {
				"operationId": "get_opco_product",
				"tags": [
					"Products"
				],
				"security": [
					{
						"apikey": []
					}
				],
				"parameters": [
					{
						"$ref": "#/parameters/opcoId"
					},
					{
						"$ref": "#/parameters/customerId"
					},
					{
						"$ref": "#/parameters/productId"
					},
					{
						"$ref": "#/parameters/lang"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Product"
						}
					}
				}
			}
		},
		"/opcos/{opcoId}/customers/{customerId}/products/{productId}/price": {
			"get": {
				"operationId": "get_opco_price",
				"tags": [
					"Products"
				],
				"security": [
					{
						"apikey": []
					}
				],
				"parameters": [
					{
						"name": "opcoId",
						"in": "path",
						"required": true,
						"type": "string",
						"default": "12"
					},
					{
						"name": "customerId",
						"in": "path",
						"required": true,
						"type": "string",
						"default": "149516"
					},
					{
						"name": "productId",
						"in": "path",
						"required": true,
						"type": "string",
						"default": "11703805"
					},
					{
						"name": "qty",
						"in": "query",
						"required": false,
						"type": "number",
						"default": 1,
						"format": "float"
					},
					{
						"name": "uom",
						"in": "query",
						"required": false,
						"type": "string",
						"default": "KG",
						"enum": [
							"KG",
							"MT"
						]
					},
					{
						"name": "currency",
						"in": "query",
						"required": false,
						"type": "string",
						"default": "EUR",
						"enum": [
							"EUR",
							"CAD"
						]
					},
					{
						"name": "date",
						"in": "query",
						"required": false,
						"type": "string",
						"default": "now",
						"format": "date"
					}
				],
				"responses": {
					"200": {
						"description": "product",
						"schema": {
							"$ref": "#/definitions/Product"
						}
					}
				}
			}
		},
		"/opcos/{opcoId}/customers/{customerId}/addresses": {
			"get": {
				"tags": [
					"Customers"
				],
				"security": [
					{
						"oauth": [
							"Customer"
						]
					}
				],
				"operationId": "get_opco_customer_addresses",
				"parameters": [
					{
						"$ref": "#/parameters/token"
					},
					{
						"$ref": "#/parameters/opcoId"
					},
					{
						"$ref": "#/parameters/customerId"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				}
			}
		},
		"/opcos/{opcoId}/customers/{customerId}/orders": {
			"get": {
				"operationId": "/opcos/{opcoId}/customers/{customerId}/orders",
				"tags": [
					"CustomerOrders"
				],
				"security": [
					{
						"apikey": []
					}
				],
				"description": "[Customers] Get orders for systems",
				"parameters": [
					{
						"$ref": "#/parameters/opcoId"
					},
					{
						"$ref": "#/parameters/customerId"
					}
				],
				"responses": {
					"200": {
						"description": "orders",
						"schema": {
							"$ref": "#/definitions/OrderRes"
						}
					}
				}
			}
		},
		"/opcos/{opcoId}/customers/{customerId}/sitesettings": {
			"get": {
				"operationId": "/opcos/{opcoId}/customers/{customerId}/sitesettings",
				"tags": [
					"Customers"
				],
				"security": [
					{
						"apikey": []
					}
				],
				"parameters": [
					{
						"$ref": "#/parameters/opcoId"
					},
					{
						"$ref": "#/parameters/customerId"
					}
				],
				"responses": {
					"200": {
						"description": "sitesettings",
						"schema": {
							"$ref": "#/definitions/SiteSettingsRes"
						}
					}
				}
			}
		},
		"/opcos/{opcoId}/customers/{customerId}/sitenames": {
			"get": {
				"operationId": "/opcos/{opcoId}/customers/{customerId}/sitenames",
				"tags": [
					"Customers"
				],
				"security": [
					{
						"apikey": []
					}
				],
				"parameters": [
					{
						"$ref": "#/parameters/opcoId"
					},
					{
						"$ref": "#/parameters/customerId"
					}
				],
				"responses": {
					"200": {
						"description": "sitenames",
						"schema": {
							"$ref": "#/definitions/SiteNamesRes"
						}
					}
				}
			}
		},
		"/opcos/{opcoId}/customerorders": {
			"post": {
				"operationId": "/opcos/{opcoId}/customerorders (POST)",
				"tags": [
					"CustomerOrders"
				],
				"security": [
					{
						"apikey": []
					}
				],
				"parameters": [
					{
						"$ref": "#/parameters/opcoId"
					},
					{
						"required": true,
						"in": "body",
						"name": "body",
						"schema": {
							"$ref": "#/definitions/CustomerOrderPostReq"
						}
					}
				],
				"responses": {
					"200": {
						"description": "orders",
						"schema": {
							"$ref": "#/definitions/CustomerOrderPostRes"
						}
					}
				}
			}
		},
		"/opcos/{opcoId}/customerorders/{orderId}": {
			"get": {
				"operationId": "/opcos/{opcoId}/customerorders/{orderid} (GET)",
				"tags": [
					"CustomerOrders"
				],
				"security": [
					{
						"apikey": []
					}
				],
				"parameters": [
					{
						"$ref": "#/parameters/opcoId"
					},
					{
						"$ref": "#/parameters/orderId"
					}
				],
				"responses": {
					"200": {
						"description": "Customerorders",
						"schema": {
							"$ref": "#/definitions/CustomerOrderRes"
						}
					}
				}
			},
			"put": {
				"operationId": "/opcos/{opcoId}/customerorders/{orderId} (PUT)",
				"tags": [
					"CustomerOrders"
				],
				"security": [
					{
						"apikey": []
					}
				],
				"parameters": [
					{
						"$ref": "#/parameters/opcoId"
					},
					{
						"$ref": "#/parameters/orderId"
					},
					{
						"required": true,
						"in": "body",
						"name": "body",
						"schema": {
							"$ref": "#/definitions/UpdateCustomerOrder"
						}
					}
				],
				"responses": {
					"200": {
						"description": "orders",
						"schema": {
							"$ref": "#/definitions/CustomerOrderPutRes"
						}
					}
				}
			},
			"delete": {
				"operationId": "/opcos/{opcoId}/customerorders/{orderId} (DELETE)",
				"tags": [
					"CustomerOrders"
				],
				"security": [
					{
						"apikey": []
					}
				],
				"description": "Delete order for systems",
				"parameters": [
					{
						"$ref": "#/parameters/opcoId"
					},
					{
						"$ref": "#/parameters/orderId"
					}
				],
				"responses": {
					"200": {
						"description": "orders",
						"schema": {
							"$ref": "#/definitions/CustomerOrderDeleteRes"
						}
					}
				}
			}
		},
		"/opcos/{opcoId}/customerorders/{orderId}/deliverydate": {
			"put": {
				"operationId": "/opcos/{opcoId}/customerorders/{orderId}/deliverydate (PUT)",
				"tags": [
					"CustomerOrders"
				],
				"security": [
					{
						"apikey": []
					}
				],
				"description": "Update order deliverydate for systems",
				"parameters": [
					{
						"$ref": "#/parameters/opcoId"
					},
					{
						"$ref": "#/parameters/orderId"
					},
					{
						"required": true,
						"in": "body",
						"name": "body",
						"schema": {
							"$ref": "#/definitions/UpdateCustomerOrderDeliveryDateReq"
						}
					}
				],
				"responses": {
					"200": {
						"description": "orders",
						"schema": {
							"$ref": "#/definitions/CustomerOrderPutDelDateRes"
						}
					}
				}
			}
		},
		"/opcos/swagger.json": {
			"get": {
				"operationId": "/customers/swagger.json",
				"tags": [
					"Swagger"
				],
				"description": "this swaggers documentation",
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					}
				}
			}
		}
	},
	"definitions": {
		"Article": {
			"type": "object",
			"properties": {
				"Title": {
					"type": "string"
				},
				"LevelId": {
					"type": "string"
				},
				"Children": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Article"
					}
				},
				"Products": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Product"
					}
				}
			}
		},
		"OrderRes": {
			"type": "object",
			"properties": {
				"Succes": {
					"type": "boolean"
				},
				"Orders": {
					"type": "array",
					"items": {
						"type": "object",
						"properties": {
							"Date": {
								"type": "string"
							},
							"HasOrder": {
								"type": "boolean"
							},
							"Warehouse": {
								"type": "string"
							},
							"WarehouseDesc": {
								"type": "string"
							},
							"OrderHead": {
								"$ref": "#/definitions/OrderHead"
							}
						}
					}
				}
			}
		},
		"OrderHead": {
			"type": "object",
			"properties": {
				"OrderNo": {
					"type": "string"
				},
				"OrderDate": {
					"type": "string"
				},
				"CustomerReference": {
					"type": "string"
				},
				"CUOR": {
					"type": "string"
				},
				"RequestedDeliveryDate": {
					"type": "string"
				},
				"Status": {
					"type": "string"
				},
				"NetWeight": {
					"type": "string"
				},
				"MODL": {
					"type": "string"
				},
				"WarehouseLocation": {
					"type": "string"
				},
				"WarehouseID": {
					"type": "string"
				},
				"CanTrack": {
					"type": "boolean"
				},
				"ETATrack": {
					"type": "string"
				},
				"CustomerName": {
					"type": "string"
				},
				"CustNo": {
					"type": "string"
				},
				"ETATrackId": {
					"type": "integer"
				},
				"CommentID": {
					"type": "string"
				},
				"CarrierInfo": {
					"type": "string"
				},
				"Changeable": {
					"type": "boolean"
				},
				"NotChangeableReason": {
					"type": "string"
				},
				"Priority": {
					"type": "string"
				},
				"Oref": {
					"type": "string"
				},
				"AddressId": {
					"type": "string"
				},
				"OrderLines": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/OrderLine"
					}
				},
				"Comments": {
					"type": "string"
				},
				"Diesel": {
					"type": "string"
				},
				"Water": {
					"type": "string"
				}
			}
		},
		"OrderLine": {
			"type": "object",
			"properties": {
				"Lineno": {
					"type": "string"
				},
				"Itemno": {
					"type": "string"
				},
				"ItemDescription": {
					"type": "string"
				},
				"RequestedDeliveryDate": {
					"type": "string"
				},
				"DeliverySpecification": {
					"type": "string"
				},
				"ConfirmedDeliveryDate": {
					"type": "string"
				},
				"OrderedQuantity": {
					"type": "string"
				},
				"Status": {
					"type": "string"
				},
				"Changeable": {
					"type": "boolean"
				},
				"NotChangeableReason": {
					"type": "string"
				},
				"OrderNo": {
					"type": "string"
				}
			}
		},
		"Product": {
			"type": "object",
			"properties": {
				"productId": {
					"type": "string"
				},
				"itemnumber": {
					"type": "string",
					"description": "alias for productId"
				},
				"switno": {
					"type": "string",
					"description": "alias for productId"
				},
				"mmitds": {
					"type": "string",
					"description": "product description"
				},
				"qty": {
					"type": "number",
					"description": "quantity"
				},
				"mbtomu": {
					"type": "string",
					"description": "alias for qty"
				},
				"uom": {
					"type": "string",
					"description": "unit of measure",
					"enum": [
						"KG"
					]
				},
				"mmunms": {
					"type": "string",
					"description": "alias for uom"
				},
				"currency": {
					"type": "string"
				},
				"salesPrice": {
					"type": "number"
				},
				"totalPrice": {
					"type": "number"
				},
				"startDate": {
					"type": "string"
				},
				"endDate": {
					"type": "string"
				},
				"orderDate": {
					"type": "string"
				},
				"orderType": {
					"type": "string"
				}
			}
		},
		"SiteSettingsRes": {
			"type": "object",
			"properties": {
				"Success": {
					"type": "boolean"
				},
				"CanDeliverToLocationWithoutPeoplePresent": {
					"type": "boolean"
				},
				"CustIsInLeague": {
					"type": "boolean"
				},
				"NeedsSMSLogin": {
					"type": "boolean"
				},
				"SiteAccessList": {
					"type": "array",
					"items": {
						"type": "string"
					}
				},
				"CustomerName": {
					"type": "string"
				},
				"SiteName": {
					"type": "string"
				},
				"SiteStorageCapacity": {
					"type": "number"
				},
				"SunriseTime": {
					"type": "string"
				},
				"SunsetTime": {
					"type": "string"
				},
				"DaylightHours": {
					"type": "number"
				},
				"DaylightMinutes": {
					"type": "number"
				},
				"OrderPhoneNr": {
					"type": "string"
				},
				"HasGpsData": {
					"type": "boolean"
				},
				"Gpslng": {
					"type": "number"
				},
				"Gpslat": {
					"type": "number"
				},
				"Gpsdate": {
					"type": "string"
				},
				"HasLiceData": {
					"type": "boolean"
				},
				"AvgAdultFemaleLice": {
					"type": "number"
				},
				"AreaAdultFemaleLice": {
					"type": "number"
				},
				"HasMobileAndStationaryLiceData": {
					"type": "boolean"
				},
				"AvgMobileLice": {
					"type": "number"
				},
				"AvgStationaryLice": {
					"type": "number"
				},
				"Licedate": {
					"type": "string"
				},
				"HasTempData": {
					"type": "boolean"
				},
				"SeaTemperature": {
					"type": "number"
				},
				"Tempdate": {
					"type": "string"
				},
				"HasLatestDailyFeedingData": {
					"type": "boolean"
				},
				"LatestDailyFeeding": {
					"type": "number"
				},
				"LatestDailyFeedingDate": {
					"type": "number"
				},
				"SiteCoordinateList": {
					"type": "array",
					"items": {
						"type": "object",
						"properties": {
							"Sitename": {
								"type": "number"
							},
							"Gpslng": {
								"type": "number"
							},
							"Gpslat": {
								"type": "number"
							},
							"AvgAdultFemaleLice": {
								"type": "number"
							},
							"AvgMobileLice": {
								"type": "number"
							},
							"AvgStationaryLice": {
								"type": "number"
							}
						}
					}
				}
			}
		},
		"SiteNamesRes": {
			"type": "array",
			"items": {
				"type": "object",
				"properties": {
					"CustNo": {
						"type": "string"
					},
					"Name": {
						"type": "string"
					}
				}
			}
		},
		"CustomerOrderRes": {
			"type": "object",
			"properties": {
				"OrderNo": {
					"type": "string",
					"x-primary-key": true
				},
				"Comments": {
					"type": "string"
				},
				"OrderLines": {
					"type": "array",
					"items": {
						"type": "object",
						"properties": {
							"Lineno": {
								"type": "string"
							},
							"Itemno": {
								"type": "number"
							},
							"ItemDescription": {
								"type": "string"
							},
							"RequestedDeliveryDate": {
								"type": "string"
							},
							"DeliverySpecification": {
								"type": "string"
							},
							"ConfirmedDeliveryDate": {
								"type": "string"
							},
							"OrderedQuantity": {
								"type": "string"
							},
							"Status": {
								"type": "string"
							},
							"Changeable": {
								"type": "boolean"
							},
							"NotChangeableReason": {
								"type": "string"
							},
							"OrderNo": {
								"type": "number"
							}
						}
					}
				},
				"Success": {
					"type": "boolean"
				},
				"Messages": {
					"type": "array",
					"items": {
						"type": "string"
					}
				}
			}
		},
		"CustomerOrderPutRes": {
			"type": "object",
			"properties": {
				"OrderNo": {
					"type": "string",
					"x-primary-key": true
				},
				"Success": {
					"type": "boolean"
				},
				"LineChangesSuccess": {
					"type": "boolean"
				},
				"CommentOperation": {
					"type": "string"
				},
				"CommentOperationSuccess": {
					"type": "boolean"
				},
				"OrderHeadOperation": {
					"type": "string"
				},
				"OrderHeadOperationSuccess": {
					"type": "boolean"
				},
				"CommentID": {
					"type": "string"
				},
				"Messages": {
					"type": "array",
					"items": {
						"type": "string"
					}
				},
				"UpdateResults": {
					"type": "array",
					"items": {
						"type": "string"
					}
				},
				"DeleteResults": {
					"type": "array",
					"items": {
						"type": "string"
					}
				},
				"AddOrderLineResults": {
					"type": "array",
					"items": {
						"type": "string"
					}
				}
			}
		},
		"CustomerOrderPostReq": {
			"type": "object",
			"properties": {
				"CustNo": {
					"type": "string",
					"x-primary-key": true
				},
				"DeliveryDate": {
					"type": "string"
				},
				"CustomerReference": {
					"type": "string"
				},
				"Warehouse": {
					"type": "string"
				},
				"Comment": {
					"type": "string"
				},
				"orderLines": {
					"type": "array",
					"items": {
						"type": "object",
						"properties": {
							"ArticleNr": {
								"type": "string"
							},
							"Number": {
								"type": "number"
							},
							"LoadingSpecification": {
								"type": "string"
							}
						}
					}
				}
			}
		},
		"CustomerOrderPostRes": {
			"type": "object",
			"properties": {
				"Success": {
					"type": "string"
				},
				"OrderNo": {
					"type": "string"
				},
				"Messages": {
					"items": {
						"type": "string"
					},
					"type": "array"
				}
			}
		},
		"CustomerOrderDeleteRes": {
			"type": "object",
			"properties": {
				"Success": {
					"type": "string"
				},
				"Messages": {
					"items": {
						"type": "string"
					},
					"type": "array"
				}
			}
		},
		"CustomerOrderPutDelDateRes": {
			"type": "object",
			"properties": {
				"result": {
					"type": "string"
				}
			}
		},
		"OperationCompany": {
			"type": "object",
			"properties": {
				"CompanyConfigId": {
					"type": "string"
				},
				"CompanyName": {
					"type": "string"
				},
				"App": {
					"type": "string"
				},
				"Installation": {
					"type": "string"
				},
				"Environment": {
					"type": "string"
				},
				"Cono": {
					"type": "string"
				},
				"Divi": {
					"type": "string"
				},
				"Faci": {
					"type": "string"
				},
				"Whlo": {
					"type": "string"
				},
				"Ortp": {
					"type": "string"
				},
				"Rss": {
					"type": "string"
				},
				"ComplaintMailReceivers": {
					"type": "string"
				}
			}
		},
		"OpCosContactAndAboutRes": {
			"type": "object",
			"properties": {
				"Data": {
					"type": "object",
					"properties": {
						"ContactInfos": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"Id": {
										"type": "number"
									},
									"CompanyConfigId": {
										"type": "number"
									},
									"Title": {
										"type": "string"
									},
									"PhoneNr": {
										"type": "string"
									},
									"Email": {
										"type": "string"
									}
								}
							}
						},
						"AboutInfoForCompany": {
							"type": "object",
							"properties": {
								"Id": {
									"type": "number"
								},
								"CompanyConfigId": {
									"type": "number"
								},
								"Url": {
									"type": "number"
								},
								"ImageRows": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"Description": {
												"type": "string"
											},
											"Image": {
												"type": "string"
											},
											"ImageCaption": {
												"type": "string"
											}
										}
									}
								}
							}
						}
					}
				},
				"HasChanged": {
					"type": "string"
				},
				"Hash": {
					"type": "string"
				}
			}
		},
		"UpdateCustomerOrder": {
			"properties": {
				"AddOrderLines": {
					"items": {
						"properties": {
							"ArticleNr": {
								"type": "string"
							},
							"LoadingSpecification": {
								"type": "string"
							},
							"Number": {
								"type": "string"
							}
						},
						"type": "object"
					},
					"type": "array"
				},
				"DeleteLines": {
					"items": {
						"type": "integer"
					},
					"type": "array"
				},
				"UpdateLines": {
					"items": {
						"properties": {
							"LineNo": {
								"type": "string"
							},
							"LoadingSpecification": {
								"type": "string"
							},
							"Quantity": {
								"type": "string"
							}
						},
						"type": "object"
					},
					"type": "array"
				}
			},
			"type": "object"
		},
		"UpdateCustomerOrderDeliveryDateReq": {
			"type": "object",
			"properties": {
				"NewDate": {
					"type": "string"
				}
			}
		}
	},
	"parameters": {
		"Authorization": {
			"name": "Authorization",
			"in": "header",
			"description": "Bearer token",
			"required": true,
			"type": "string",
			"default": "Bearer AAAAAAAAAAAAAAAAAAAAAAAAAAAA",
			"pattern": "Bearer [A-Za-z0-9]{28}"
		},
		"token": {
			"name": "token",
			"in": "header",
			"description": "M3 token",
			"required": true,
			"type": "string",
			"default": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
			"pattern": "[a-f0-9]{32}"
		},
		"apikey": {
			"name": "apikey",
			"in": "header",
			"description": "apikey / Consumer Key",
			"required": true,
			"type": "string",
			"default": "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
			"pattern": "^[A-Za-z0-9]{32}$"
		},
		"customerId": {
			"name": "customerId",
			"in": "path",
			"required": true,
			"type": "string",
			"default": "124748"
		},
		"opcoId": {
			"name": "opcoId",
			"in": "path",
			"required": true,
			"type": "string",
			"default": "1"
		},
		"lang": {
			"name": "lang",
			"in": "query",
			"required": false,
			"type": "string",
			"default": "EN",
			"enum": [
				"EN",
				"NL",
				"ES",
				"PT"
			]
		},
		"productId": {
			"name": "productId",
			"in": "path",
			"required": true,
			"type": "string",
			"default": "124681"
		},
		"orderId": {
			"name": "orderId",
			"in": "path",
			"required": true,
			"type": "integer",
			"default": "0010158899",
			"format": "int32"
		},
		"whs": {
			"name": "whs",
			"in": "query",
			"required": false,
			"type": "string"
		},
		"assortment": {
			"name": "assortment",
			"in": "query",
			"required": false,
			"type": "string"
		}
	}
}
