{
	"swagger": "2.0",
	"info": {
		"title": "Samples",
		"description": "Samples",
		"version": "v1"
	},
	"host": "api.nutreco.com",
	"basePath": "/dev/v1/samples",
	"produces": [
		"application/json"
	],
	"schemes": [
		"https"
	],
	"securityDefinitions": {
		"apikey": {
			"type": "apiKey",
			"name": "apikey",
			"in": "header"
		},
		"oauth": {
			"type": "oauth2",
			"authorizationUrl": "https://xms-svc.nutreco.com/userservice.svc/json/xmsauthenticate",
			"flow": "implicit",
			"scopes": {
				"all": "one scope for all"
			}
		}
	},
	"security": [
		{
			"apikey": [],
			"oauth": ["all"]
		}
	],
	"paths": {
		"/spectra/calculate": {
			"post": {
				"operationId": "spectra_calculate",
				"summary": "Calculate Spectra",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "appToken",
						"in": "header",
						"required": true,
						"type": "string",
						"default": "{F2361FE2-9FAF-440B-9234-DFEC7E4156DC}"
					},
					{
						"name": "userToken",
						"in": "header",
						"required": true,
						"type": "string"
					},
					{
						"name": "body",
						"in": "body",
						"required": true,
						"schema": "DutchSprouts"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				}
			}
		}
	},
	"definitions": {
		"DutchSprouts": {
			"type": "object",
			"example": {
				"fileCulture": "nl-NL",
				"companyId": 537,
				"file": {
					"order": {
						"id": "test dev team 00001",
						"profile": "02",
						"materialType": "Rough",
						"material": "Grass Silage (unground)",
						"Description": "test material 00005",
						"GPS": "5.628133;51.982980",
						"OrderIntakeDate": "15-12-2017",
						"DeviceSerialNumber": "91709395",
						"client": {
							"id": "6560",
							"name": "huaifeng",
							"birthdate": "07-07-1981",
							"phone": "0643225226",
							"email": "huaifeng.liu@gmail.com",
							"address": "prof. van ginnekenstraat 14",
							"city": "Nijmegen",
							"country": "Netherlands"
						},
						"wave": [
							{
								"number": 1100,
								"amplitude": 0.2674487
							},
							{
								"number": 1102,
								"amplitude": 0.2683447
							},
							{
								"number": 1104,
								"amplitude": 0.2692433
							},
							{
								"number": 1106,
								"amplitude": 0.2701162
							},
							{
								"number": 1108,
								"amplitude": 0.27093574
							},
							{
								"number": 1110,
								"amplitude": 0.27167284
							},
							{
								"number": 1112,
								"amplitude": 0.27230304
							},
							{
								"number": 1114,
								"amplitude": 0.2728135
							},
							{
								"number": 1116,
								"amplitude": 0.27358866
							},
							{
								"number": 1118,
								"amplitude": 0.27459475
							},
							{
								"number": 1120,
								"amplitude": 0.27584592
							},
							{
								"number": 1122,
								"amplitude": 0.27743065
							},
							{
								"number": 1124,
								"amplitude": 0.2794544
							},
							{
								"number": 1126,
								"amplitude": 0.2820242
							},
							{
								"number": 1128,
								"amplitude": 0.28523147
							},
							{
								"number": 1130,
								"amplitude": 0.2891434
							},
							{
								"number": 1132,
								"amplitude": 0.2937981
							},
							{
								"number": 1134,
								"amplitude": 0.2991941
							},
							{
								"number": 1136,
								"amplitude": 0.30528006
							},
							{
								"number": 1138,
								"amplitude": 0.31195527
							},
							{
								"number": 1140,
								"amplitude": 0.31907853
							},
							{
								"number": 1142,
								"amplitude": 0.3264785
							},
							{
								"number": 1144,
								"amplitude": 0.33396488
							},
							{
								"number": 1146,
								"amplitude": 0.34134355
							},
							{
								"number": 1148,
								"amplitude": 0.3484373
							},
							{
								"number": 1150,
								"amplitude": 0.3551031
							},
							{
								"number": 1152,
								"amplitude": 0.3612361
							},
							{
								"number": 1154,
								"amplitude": 0.3667659
							},
							{
								"number": 1156,
								"amplitude": 0.37165648
							},
							{
								"number": 1158,
								"amplitude": 0.37590834
							},
							{
								"number": 1160,
								"amplitude": 0.3795553
							},
							{
								"number": 1162,
								"amplitude": 0.3826546
							},
							{
								"number": 1164,
								"amplitude": 0.3852769
							},
							{
								"number": 1166,
								"amplitude": 0.38750014
							},
							{
								"number": 1168,
								"amplitude": 0.3894026
							},
							{
								"number": 1170,
								"amplitude": 0.39105627
							},
							{
								"number": 1172,
								"amplitude": 0.39252213
							},
							{
								"number": 1174,
								"amplitude": 0.39384875
							},
							{
								"number": 1176,
								"amplitude": 0.39507276
							},
							{
								"number": 1178,
								"amplitude": 0.39621803
							},
							{
								"number": 1180,
								"amplitude": 0.39729658
							},
							{
								"number": 1182,
								"amplitude": 0.39831114
							},
							{
								"number": 1184,
								"amplitude": 0.39925778
							},
							{
								"number": 1186,
								"amplitude": 0.400128
							},
							{
								"number": 1188,
								"amplitude": 0.4009097
							},
							{
								"number": 1190,
								"amplitude": 0.40158933
							},
							{
								"number": 1192,
								"amplitude": 0.40215543
							},
							{
								"number": 1194,
								"amplitude": 0.4025998
							},
							{
								"number": 1196,
								"amplitude": 0.40291715
							},
							{
								"number": 1198,
								"amplitude": 0.40310395
							},
							{
								"number": 1200,
								"amplitude": 0.4031574
							},
							{
								"number": 1202,
								"amplitude": 0.4030756
							},
							{
								"number": 1204,
								"amplitude": 0.4028575
							},
							{
								"number": 1206,
								"amplitude": 0.402503
							},
							{
								"number": 1208,
								"amplitude": 0.40201327
							},
							{
								"number": 1210,
								"amplitude": 0.40139186
							},
							{
								"number": 1212,
								"amplitude": 0.40064448
							},
							{
								"number": 1214,
								"amplitude": 0.39978012
							},
							{
								"number": 1216,
								"amplitude": 0.39881095
							},
							{
								"number": 1218,
								"amplitude": 0.3977517
							},
							{
								"number": 1220,
								"amplitude": 0.39662
							},
							{
								"number": 1222,
								"amplitude": 0.3954353
							},
							{
								"number": 1224,
								"amplitude": 0.39421707
							},
							{
								"number": 1226,
								"amplitude": 0.39298335
							},
							{
								"number": 1228,
								"amplitude": 0.3917502
							},
							{
								"number": 1230,
								"amplitude": 0.39053017
							},
							{
								"number": 1232,
								"amplitude": 0.3893325
							},
							{
								"number": 1234,
								"amplitude": 0.38816392
							},
							{
								"number": 1236,
								"amplitude": 0.387029
							},
							{
								"number": 1238,
								"amplitude": 0.3859308
							},
							{
								"number": 1240,
								"amplitude": 0.38487107
							},
							{
								"number": 1242,
								"amplitude": 0.38385102
							},
							{
								"number": 1244,
								"amplitude": 0.3828722
							},
							{
								"number": 1246,
								"amplitude": 0.38193688
							},
							{
								"number": 1248,
								"amplitude": 0.3810481
							},
							{
								"number": 1250,
								"amplitude": 0.3802098
							},
							{
								"number": 1252,
								"amplitude": 0.37942636
							},
							{
								"number": 1254,
								"amplitude": 0.37870303
							},
							{
								"number": 1256,
								"amplitude": 0.37804466
							},
							{
								"number": 1258,
								"amplitude": 0.37745565
							},
							{
								"number": 1260,
								"amplitude": 0.37694082
							},
							{
								"number": 1262,
								"amplitude": 0.3765056
							},
							{
								"number": 1264,
								"amplitude": 0.3761551
							},
							{
								"number": 1266,
								"amplitude": 0.3758939
							},
							{
								"number": 1268,
								"amplitude": 0.37572536
							},
							{
								"number": 1270,
								"amplitude": 0.3756523
							},
							{
								"number": 1272,
								"amplitude": 0.37567857
							},
							{
								"number": 1274,
								"amplitude": 0.37580934
							},
							{
								"number": 1276,
								"amplitude": 0.37605157
							},
							{
								"number": 1278,
								"amplitude": 0.3764136
							},
							{
								"number": 1280,
								"amplitude": 0.37690464
							},
							{
								"number": 1282,
								"amplitude": 0.37753418
							},
							{
								"number": 1284,
								"amplitude": 0.3783125
							},
							{
								"number": 1286,
								"amplitude": 0.37925038
							},
							{
								"number": 1288,
								"amplitude": 0.38035777
							},
							{
								"number": 1290,
								"amplitude": 0.3816442
							},
							{
								"number": 1292,
								"amplitude": 0.38311908
							},
							{
								"number": 1294,
								"amplitude": 0.38479182
							},
							{
								"number": 1296,
								"amplitude": 0.38667142
							},
							{
								"number": 1298,
								"amplitude": 0.3887665
							},
							{
								"number": 1300,
								"amplitude": 0.3910863
							},
							{
								"number": 1302,
								"amplitude": 0.39364114
							},
							{
								"number": 1304,
								"amplitude": 0.39644125
							},
							{
								"number": 1306,
								"amplitude": 0.39949536
							},
							{
								"number": 1308,
								"amplitude": 0.4028109
							},
							{
								"number": 1310,
								"amplitude": 0.40639478
							},
							{
								"number": 1312,
								"amplitude": 0.41025314
							},
							{
								"number": 1314,
								"amplitude": 0.41438985
							},
							{
								"number": 1316,
								"amplitude": 0.41880554
							},
							{
								"number": 1318,
								"amplitude": 0.42349687
							},
							{
								"number": 1320,
								"amplitude": 0.428456
							},
							{
								"number": 1322,
								"amplitude": 0.43366984
							},
							{
								"number": 1324,
								"amplitude": 0.43911934
							},
							{
								"number": 1326,
								"amplitude": 0.44478
							},
							{
								"number": 1328,
								"amplitude": 0.45062244
							},
							{
								"number": 1330,
								"amplitude": 0.456612
							},
							{
								"number": 1332,
								"amplitude": 0.4627079
							},
							{
								"number": 1334,
								"amplitude": 0.46886364
							},
							{
								"number": 1336,
								"amplitude": 0.47502896
							},
							{
								"number": 1338,
								"amplitude": 0.4811526
							},
							{
								"number": 1340,
								"amplitude": 0.487185
							},
							{
								"number": 1342,
								"amplitude": 0.49308103
							},
							{
								"number": 1344,
								"amplitude": 0.4988045
							},
							{
								"number": 1346,
								"amplitude": 0.5043318
							},
							{
								"number": 1348,
								"amplitude": 0.5096557
							},
							{
								"number": 1350,
								"amplitude": 0.51478714
							},
							{
								"number": 1352,
								"amplitude": 0.5197564
							},
							{
								"number": 1354,
								"amplitude": 0.52461445
							},
							{
								"number": 1356,
								"amplitude": 0.5294302
							},
							{
								"number": 1358,
								"amplitude": 0.534287
							},
							{
								"number": 1360,
								"amplitude": 0.5392777
							},
							{
								"number": 1362,
								"amplitude": 0.54450256
							},
							{
								"number": 1364,
								"amplitude": 0.55007476
							},
							{
								"number": 1366,
								"amplitude": 0.55613095
							},
							{
								"number": 1368,
								"amplitude": 0.5628418
							},
							{
								"number": 1370,
								"amplitude": 0.5704143
							},
							{
								"number": 1372,
								"amplitude": 0.5790809
							},
							{
								"number": 1374,
								"amplitude": 0.58907723
							},
							{
								"number": 1376,
								"amplitude": 0.6006193
							},
							{
								"number": 1378,
								"amplitude": 0.61388546
							},
							{
								"number": 1380,
								"amplitude": 0.62900245
							},
							{
								"number": 1382,
								"amplitude": 0.64603025
							},
							{
								"number": 1384,
								"amplitude": 0.66494596
							},
							{
								"number": 1386,
								"amplitude": 0.6856312
							},
							{
								"number": 1388,
								"amplitude": 0.7078667
							},
							{
								"number": 1390,
								"amplitude": 0.7313449
							},
							{
								"number": 1392,
								"amplitude": 0.75569826
							},
							{
								"number": 1394,
								"amplitude": 0.7805327
							},
							{
								"number": 1396,
								"amplitude": 0.80545557
							},
							{
								"number": 1398,
								"amplitude": 0.83009297
							},
							{
								"number": 1400,
								"amplitude": 0.85410106
							},
							{
								"number": 1402,
								"amplitude": 0.87717754
							},
							{
								"number": 1404,
								"amplitude": 0.8990757
							},
							{
								"number": 1406,
								"amplitude": 0.91961676
							},
							{
								"number": 1408,
								"amplitude": 0.93869454
							},
							{
								"number": 1410,
								"amplitude": 0.95627004
							},
							{
								"number": 1412,
								"amplitude": 0.9723588
							},
							{
								"number": 1414,
								"amplitude": 0.9870152
							},
							{
								"number": 1416,
								"amplitude": 1.0003183
							},
							{
								"number": 1418,
								"amplitude": 1.012363
							},
							{
								"number": 1420,
								"amplitude": 1.023252
							},
							{
								"number": 1422,
								"amplitude": 1.0330869
							},
							{
								"number": 1424,
								"amplitude": 1.0419616
							},
							{
								"number": 1426,
								"amplitude": 1.0499578
							},
							{
								"number": 1428,
								"amplitude": 1.0571464
							},
							{
								"number": 1430,
								"amplitude": 1.0635883
							},
							{
								"number": 1432,
								"amplitude": 1.0693358
							},
							{
								"number": 1434,
								"amplitude": 1.0744355
							},
							{
								"number": 1436,
								"amplitude": 1.0789317
							},
							{
								"number": 1438,
								"amplitude": 1.0828688
							},
							{
								"number": 1440,
								"amplitude": 1.0862907
							},
							{
								"number": 1442,
								"amplitude": 1.0892398
							},
							{
								"number": 1444,
								"amplitude": 1.0917578
							},
							{
								"number": 1446,
								"amplitude": 1.0938809
							},
							{
								"number": 1448,
								"amplitude": 1.095636
							},
							{
								"number": 1450,
								"amplitude": 1.097037
							},
							{
								"number": 1452,
								"amplitude": 1.0980827
							},
							{
								"number": 1454,
								"amplitude": 1.0987573
							},
							{
								"number": 1456,
								"amplitude": 1.099034
							},
							{
								"number": 1458,
								"amplitude": 1.0988775
							},
							{
								"number": 1460,
								"amplitude": 1.0982509
							},
							{
								"number": 1462,
								"amplitude": 1.0971193
							},
							{
								"number": 1464,
								"amplitude": 1.0954572
							},
							{
								"number": 1466,
								"amplitude": 1.0932509
							},
							{
								"number": 1468,
								"amplitude": 1.0905031
							},
							{
								"number": 1470,
								"amplitude": 1.0872359
							},
							{
								"number": 1472,
								"amplitude": 1.0834904
							},
							{
								"number": 1474,
								"amplitude": 1.0793184
							},
							{
								"number": 1476,
								"amplitude": 1.0747768
							},
							{
								"number": 1478,
								"amplitude": 1.0699211
							},
							{
								"number": 1480,
								"amplitude": 1.0648004
							},
							{
								"number": 1482,
								"amplitude": 1.0594563
							},
							{
								"number": 1484,
								"amplitude": 1.0539236
							},
							{
								"number": 1486,
								"amplitude": 1.0482298
							},
							{
								"number": 1488,
								"amplitude": 1.0423956
							},
							{
								"number": 1490,
								"amplitude": 1.0364363
							},
							{
								"number": 1492,
								"amplitude": 1.0303627
							},
							{
								"number": 1494,
								"amplitude": 1.024185
							},
							{
								"number": 1496,
								"amplitude": 1.0179168
							},
							{
								"number": 1498,
								"amplitude": 1.0115758
							},
							{
								"number": 1500,
								"amplitude": 1.0051821
							},
							{
								"number": 1502,
								"amplitude": 0.9987562
							},
							{
								"number": 1504,
								"amplitude": 0.99231833
							},
							{
								"number": 1506,
								"amplitude": 0.9858881
							},
							{
								"number": 1508,
								"amplitude": 0.9794823
							},
							{
								"number": 1510,
								"amplitude": 0.97311646
							},
							{
								"number": 1512,
								"amplitude": 0.9668057
							},
							{
								"number": 1514,
								"amplitude": 0.9605635
							},
							{
								"number": 1516,
								"amplitude": 0.9544017
							},
							{
								"number": 1518,
								"amplitude": 0.9483303
							},
							{
								"number": 1520,
								"amplitude": 0.9423584
							},
							{
								"number": 1522,
								"amplitude": 0.9364944
							},
							{
								"number": 1524,
								"amplitude": 0.9307455
							},
							{
								"number": 1526,
								"amplitude": 0.9251171
							},
							{
								"number": 1528,
								"amplitude": 0.91961277
							},
							{
								"number": 1530,
								"amplitude": 0.91423464
							},
							{
								"number": 1532,
								"amplitude": 0.9089831
							},
							{
								"number": 1534,
								"amplitude": 0.9038558
							},
							{
								"number": 1536,
								"amplitude": 0.8988479
							},
							{
								"number": 1538,
								"amplitude": 0.8939531
							},
							{
								"number": 1540,
								"amplitude": 0.8891647
							},
							{
								"number": 1542,
								"amplitude": 0.88447493
							},
							{
								"number": 1544,
								"amplitude": 0.87987596
							},
							{
								"number": 1546,
								"amplitude": 0.87536174
							},
							{
								"number": 1548,
								"amplitude": 0.8709281
							},
							{
								"number": 1550,
								"amplitude": 0.86657214
							},
							{
								"number": 1552,
								"amplitude": 0.8622928
							},
							{
								"number": 1554,
								"amplitude": 0.8580907
							},
							{
								"number": 1556,
								"amplitude": 0.85396546
							},
							{
								"number": 1558,
								"amplitude": 0.8499165
							},
							{
								"number": 1560,
								"amplitude": 0.845944
							},
							{
								"number": 1562,
								"amplitude": 0.84204745
							},
							{
								"number": 1564,
								"amplitude": 0.8382262
							},
							{
								"number": 1566,
								"amplitude": 0.83447945
							},
							{
								"number": 1568,
								"amplitude": 0.8308052
							},
							{
								"number": 1570,
								"amplitude": 0.82719964
							},
							{
								"number": 1572,
								"amplitude": 0.823658
							},
							{
								"number": 1574,
								"amplitude": 0.82017535
							},
							{
								"number": 1576,
								"amplitude": 0.8167459
							},
							{
								"number": 1578,
								"amplitude": 0.8133631
							},
							{
								"number": 1580,
								"amplitude": 0.81002074
							},
							{
								"number": 1582,
								"amplitude": 0.8067128
							},
							{
								"number": 1584,
								"amplitude": 0.803433
							},
							{
								"number": 1586,
								"amplitude": 0.8001776
							},
							{
								"number": 1588,
								"amplitude": 0.79694533
							},
							{
								"number": 1590,
								"amplitude": 0.79373693
							},
							{
								"number": 1592,
								"amplitude": 0.7905556
							},
							{
								"number": 1594,
								"amplitude": 0.78740627
							},
							{
								"number": 1596,
								"amplitude": 0.78429437
							},
							{
								"number": 1598,
								"amplitude": 0.7812255
							},
							{
								"number": 1600,
								"amplitude": 0.77820486
							},
							{
								"number": 1602,
								"amplitude": 0.7752366
							},
							{
								"number": 1604,
								"amplitude": 0.7723236
							},
							{
								"number": 1606,
								"amplitude": 0.76946825
							},
							{
								"number": 1608,
								"amplitude": 0.76667076
							},
							{
								"number": 1610,
								"amplitude": 0.7639303
							},
							{
								"number": 1612,
								"amplitude": 0.761246
							},
							{
								"number": 1614,
								"amplitude": 0.7586172
							},
							{
								"number": 1616,
								"amplitude": 0.7560447
							},
							{
								"number": 1618,
								"amplitude": 0.75353014
							},
							{
								"number": 1620,
								"amplitude": 0.7510762
							},
							{
								"number": 1622,
								"amplitude": 0.748686
							},
							{
								"number": 1624,
								"amplitude": 0.74636275
							},
							{
								"number": 1626,
								"amplitude": 0.7441094
							},
							{
								"number": 1628,
								"amplitude": 0.7419293
							},
							{
								"number": 1630,
								"amplitude": 0.7398257
							},
							{
								"number": 1632,
								"amplitude": 0.7378026
							},
							{
								"number": 1634,
								"amplitude": 0.73586375
							},
							{
								"number": 1636,
								"amplitude": 0.73401177
							},
							{
								"number": 1638,
								"amplitude": 0.73225087
							},
							{
								"number": 1640,
								"amplitude": 0.7305872
							},
							{
								"number": 1642,
								"amplitude": 0.7290288
							},
							{
								"number": 1644,
								"amplitude": 0.7275855
							},
							{
								"number": 1646,
								"amplitude": 0.7262671
							},
							{
								"number": 1648,
								"amplitude": 0.72508264
							},
							{
								"number": 1650,
								"amplitude": 0.7240395
							},
							{
								"number": 1652,
								"amplitude": 0.72314364
							},
							{
								"number": 1654,
								"amplitude": 0.72240174
							},
							{
								"number": 1656,
								"amplitude": 0.72182226
							},
							{
								"number": 1658,
								"amplitude": 0.7214134
							},
							{
								"number": 1660,
								"amplitude": 0.72118014
							},
							{
								"number": 1662,
								"amplitude": 0.72112226
							},
							{
								"number": 1664,
								"amplitude": 0.72123224
							},
							{
								"number": 1666,
								"amplitude": 0.72149694
							},
							{
								"number": 1668,
								"amplitude": 0.72190046
							},
							{
								"number": 1670,
								"amplitude": 0.7224281
							},
							{
								"number": 1672,
								"amplitude": 0.7230661
							},
							{
								"number": 1674,
								"amplitude": 0.7237991
							},
							{
								"number": 1676,
								"amplitude": 0.7246077
							},
							{
								"number": 1678,
								"amplitude": 0.72546744
							},
							{
								"number": 1680,
								"amplitude": 0.726352
							},
							{
								"number": 1682,
								"amplitude": 0.727238
							},
							{
								"number": 1684,
								"amplitude": 0.7281102
							},
							{
								"number": 1686,
								"amplitude": 0.7289623
							},
							{
								"number": 1688,
								"amplitude": 0.729796
							},
							{
								"number": 1690,
								"amplitude": 0.7306194
							},
							{
								"number": 1692,
								"amplitude": 0.7314461
							},
							{
								"number": 1694,
								"amplitude": 0.7322953
							},
							{
								"number": 1696,
								"amplitude": 0.73319227
							},
							{
								"number": 1698,
								"amplitude": 0.7341689
							},
							{
								"number": 1700,
								"amplitude": 0.735257
							},
							{
								"number": 1702,
								"amplitude": 0.7364817
							},
							{
								"number": 1704,
								"amplitude": 0.73785543
							},
							{
								"number": 1706,
								"amplitude": 0.73937416
							},
							{
								"number": 1708,
								"amplitude": 0.7410199
							},
							{
								"number": 1710,
								"amplitude": 0.7427673
							},
							{
								"number": 1712,
								"amplitude": 0.7445896
							},
							{
								"number": 1714,
								"amplitude": 0.7464606
							},
							{
								"number": 1716,
								"amplitude": 0.7483526
							},
							{
								"number": 1718,
								"amplitude": 0.7502339
							},
							{
								"number": 1720,
								"amplitude": 0.7520704
							},
							{
								"number": 1722,
								"amplitude": 0.75383
							},
							{
								"number": 1724,
								"amplitude": 0.7554912
							},
							{
								"number": 1726,
								"amplitude": 0.7570513
							},
							{
								"number": 1728,
								"amplitude": 0.7585281
							},
							{
								"number": 1730,
								"amplitude": 0.7599567
							},
							{
								"number": 1732,
								"amplitude": 0.7613841
							},
							{
								"number": 1734,
								"amplitude": 0.762862
							},
							{
								"number": 1736,
								"amplitude": 0.76444244
							},
							{
								"number": 1738,
								"amplitude": 0.76617455
							},
							{
								"number": 1740,
								"amplitude": 0.7680995
							},
							{
								"number": 1742,
								"amplitude": 0.7702431
							},
							{
								"number": 1744,
								"amplitude": 0.77261007
							},
							{
								"number": 1746,
								"amplitude": 0.7751823
							},
							{
								"number": 1748,
								"amplitude": 0.7779232
							},
							{
								"number": 1750,
								"amplitude": 0.7807836
							},
							{
								"number": 1752,
								"amplitude": 0.7837089
							},
							{
								"number": 1754,
								"amplitude": 0.78664565
							},
							{
								"number": 1756,
								"amplitude": 0.7895451
							},
							{
								"number": 1758,
								"amplitude": 0.79236466
							},
							{
								"number": 1760,
								"amplitude": 0.7950698
							},
							{
								"number": 1762,
								"amplitude": 0.7976335
							},
							{
								"number": 1764,
								"amplitude": 0.80003506
							},
							{
								"number": 1766,
								"amplitude": 0.8022593
							},
							{
								"number": 1768,
								"amplitude": 0.8042965
							},
							{
								"number": 1770,
								"amplitude": 0.80614066
							},
							{
								"number": 1772,
								"amplitude": 0.80778813
							},
							{
								"number": 1774,
								"amplitude": 0.80923676
							},
							{
								"number": 1776,
								"amplitude": 0.8104845
							},
							{
								"number": 1778,
								"amplitude": 0.8115294
							},
							{
								"number": 1780,
								"amplitude": 0.81236917
							},
							{
								"number": 1782,
								"amplitude": 0.81300324
							},
							{
								"number": 1784,
								"amplitude": 0.8134337
							},
							{
								"number": 1786,
								"amplitude": 0.81366765
							},
							{
								"number": 1788,
								"amplitude": 0.81371695
							},
							{
								"number": 1790,
								"amplitude": 0.8135983
							},
							{
								"number": 1792,
								"amplitude": 0.81333137
							},
							{
								"number": 1794,
								"amplitude": 0.81293863
							},
							{
								"number": 1796,
								"amplitude": 0.81244516
							},
							{
								"number": 1798,
								"amplitude": 0.81187665
							},
							{
								"number": 1800,
								"amplitude": 0.81125796
							},
							{
								"number": 1802,
								"amplitude": 0.8106126
							},
							{
								"number": 1804,
								"amplitude": 0.8099621
							},
							{
								"number": 1806,
								"amplitude": 0.8093255
							},
							{
								"number": 1808,
								"amplitude": 0.8087193
							},
							{
								"number": 1810,
								"amplitude": 0.8081575
							},
							{
								"number": 1812,
								"amplitude": 0.8076525
							},
							{
								"number": 1814,
								"amplitude": 0.80721444
							},
							{
								"number": 1816,
								"amplitude": 0.80685145
							},
							{
								"number": 1818,
								"amplitude": 0.80657053
							},
							{
								"number": 1820,
								"amplitude": 0.8063786
							},
							{
								"number": 1822,
								"amplitude": 0.806286
							},
							{
								"number": 1824,
								"amplitude": 0.8063084
							},
							{
								"number": 1826,
								"amplitude": 0.80646825
							},
							{
								"number": 1828,
								"amplitude": 0.8067929
							},
							{
								"number": 1830,
								"amplitude": 0.8073142
							},
							{
								"number": 1832,
								"amplitude": 0.8080684
							},
							{
								"number": 1834,
								"amplitude": 0.8090985
							},
							{
								"number": 1836,
								"amplitude": 0.8104563
							},
							{
								"number": 1838,
								"amplitude": 0.81220055
							},
							{
								"number": 1840,
								"amplitude": 0.81439555
							},
							{
								"number": 1842,
								"amplitude": 0.8171142
							},
							{
								"number": 1844,
								"amplitude": 0.8204433
							},
							{
								"number": 1846,
								"amplitude": 0.8244853
							},
							{
								"number": 1848,
								"amplitude": 0.8293501
							},
							{
								"number": 1850,
								"amplitude": 0.83514005
							},
							{
								"number": 1852,
								"amplitude": 0.84194154
							},
							{
								"number": 1854,
								"amplitude": 0.8498363
							},
							{
								"number": 1856,
								"amplitude": 0.8589297
							},
							{
								"number": 1858,
								"amplitude": 0.86937535
							},
							{
								"number": 1860,
								"amplitude": 0.88137263
							},
							{
								"number": 1862,
								"amplitude": 0.89513594
							},
							{
								"number": 1864,
								"amplitude": 0.9108546
							},
							{
								"number": 1866,
								"amplitude": 0.92866963
							},
							{
								"number": 1868,
								"amplitude": 0.94867593
							},
							{
								"number": 1870,
								"amplitude": 0.9709361
							},
							{
								"number": 1872,
								"amplitude": 0.9954849
							},
							{
								"number": 1874,
								"amplitude": 1.0223165
							},
							{
								"number": 1876,
								"amplitude": 1.0513589
							},
							{
								"number": 1878,
								"amplitude": 1.0824455
							},
							{
								"number": 1880,
								"amplitude": 1.1152979
							},
							{
								"number": 1882,
								"amplitude": 1.1495326
							},
							{
								"number": 1884,
								"amplitude": 1.184689
							},
							{
								"number": 1886,
								"amplitude": 1.2202606
							},
							{
								"number": 1888,
								"amplitude": 1.2557055
							},
							{
								"number": 1890,
								"amplitude": 1.2904484
							},
							{
								"number": 1892,
								"amplitude": 1.3238962
							},
							{
								"number": 1894,
								"amplitude": 1.3554829
							},
							{
								"number": 1896,
								"amplitude": 1.38473
							},
							{
								"number": 1898,
								"amplitude": 1.4112978
							},
							{
								"number": 1900,
								"amplitude": 1.4350119
							},
							{
								"number": 1902,
								"amplitude": 1.4558595
							},
							{
								"number": 1904,
								"amplitude": 1.4739656
							},
							{
								"number": 1906,
								"amplitude": 1.4895462
							},
							{
								"number": 1908,
								"amplitude": 1.5028582
							},
							{
								"number": 1910,
								"amplitude": 1.514165
							},
							{
								"number": 1912,
								"amplitude": 1.5237265
							},
							{
								"number": 1914,
								"amplitude": 1.5317909
							},
							{
								"number": 1916,
								"amplitude": 1.538581
							},
							{
								"number": 1918,
								"amplitude": 1.5442778
							},
							{
								"number": 1920,
								"amplitude": 1.5490147
							},
							{
								"number": 1922,
								"amplitude": 1.5528835
							},
							{
								"number": 1924,
								"amplitude": 1.5559464
							},
							{
								"number": 1926,
								"amplitude": 1.5582461
							},
							{
								"number": 1928,
								"amplitude": 1.5598159
							},
							{
								"number": 1930,
								"amplitude": 1.5606911
							},
							{
								"number": 1932,
								"amplitude": 1.5609148
							},
							{
								"number": 1934,
								"amplitude": 1.5605305
							},
							{
								"number": 1936,
								"amplitude": 1.5595815
							},
							{
								"number": 1938,
								"amplitude": 1.5581101
							},
							{
								"number": 1940,
								"amplitude": 1.5561602
							},
							{
								"number": 1942,
								"amplitude": 1.5537741
							},
							{
								"number": 1944,
								"amplitude": 1.5509924
							},
							{
								"number": 1946,
								"amplitude": 1.5478568
							},
							{
								"number": 1948,
								"amplitude": 1.5444087
							},
							{
								"number": 1950,
								"amplitude": 1.5406842
							},
							{
								"number": 1952,
								"amplitude": 1.5367098
							},
							{
								"number": 1954,
								"amplitude": 1.5325038
							},
							{
								"number": 1956,
								"amplitude": 1.5280857
							},
							{
								"number": 1958,
								"amplitude": 1.5234793
							},
							{
								"number": 1960,
								"amplitude": 1.5187054
							},
							{
								"number": 1962,
								"amplitude": 1.5137774
							},
							{
								"number": 1964,
								"amplitude": 1.5087057
							},
							{
								"number": 1966,
								"amplitude": 1.5035001
							},
							{
								"number": 1968,
								"amplitude": 1.4981714
							},
							{
								"number": 1970,
								"amplitude": 1.4927303
							},
							{
								"number": 1972,
								"amplitude": 1.4871836
							},
							{
								"number": 1974,
								"amplitude": 1.4815387
							},
							{
								"number": 1976,
								"amplitude": 1.475804
							},
							{
								"number": 1978,
								"amplitude": 1.4699892
							},
							{
								"number": 1980,
								"amplitude": 1.4641027
							},
							{
								"number": 1982,
								"amplitude": 1.458154
							},
							{
								"number": 1984,
								"amplitude": 1.4521546
							},
							{
								"number": 1986,
								"amplitude": 1.4461168
							},
							{
								"number": 1988,
								"amplitude": 1.4400512
							},
							{
								"number": 1990,
								"amplitude": 1.4339699
							},
							{
								"number": 1992,
								"amplitude": 1.4278862
							},
							{
								"number": 1994,
								"amplitude": 1.4218149
							},
							{
								"number": 1996,
								"amplitude": 1.4157706
							},
							{
								"number": 1998,
								"amplitude": 1.4097654
							},
							{
								"number": 2000,
								"amplitude": 1.4038087
							},
							{
								"number": 2002,
								"amplitude": 1.3979114
							},
							{
								"number": 2004,
								"amplitude": 1.392084
							},
							{
								"number": 2006,
								"amplitude": 1.386338
							},
							{
								"number": 2008,
								"amplitude": 1.3806819
							},
							{
								"number": 2010,
								"amplitude": 1.3751224
							},
							{
								"number": 2012,
								"amplitude": 1.3696661
							},
							{
								"number": 2014,
								"amplitude": 1.3643177
							},
							{
								"number": 2016,
								"amplitude": 1.3590819
							},
							{
								"number": 2018,
								"amplitude": 1.3539643
							},
							{
								"number": 2020,
								"amplitude": 1.3489696
							},
							{
								"number": 2022,
								"amplitude": 1.3441005
							},
							{
								"number": 2024,
								"amplitude": 1.3393565
							},
							{
								"number": 2026,
								"amplitude": 1.3347366
							},
							{
								"number": 2028,
								"amplitude": 1.3302433
							},
							{
								"number": 2030,
								"amplitude": 1.3258784
							},
							{
								"number": 2032,
								"amplitude": 1.321641
							},
							{
								"number": 2034,
								"amplitude": 1.3175309
							},
							{
								"number": 2036,
								"amplitude": 1.3135462
							},
							{
								"number": 2038,
								"amplitude": 1.3096836
							},
							{
								"number": 2040,
								"amplitude": 1.3059369
							},
							{
								"number": 2042,
								"amplitude": 1.3022975
							},
							{
								"number": 2044,
								"amplitude": 1.2987566
							},
							{
								"number": 2046,
								"amplitude": 1.2953055
							},
							{
								"number": 2048,
								"amplitude": 1.2919322
							},
							{
								"number": 2050,
								"amplitude": 1.288623
							},
							{
								"number": 2052,
								"amplitude": 1.2853634
							},
							{
								"number": 2054,
								"amplitude": 1.2821441
							},
							{
								"number": 2056,
								"amplitude": 1.2789594
							},
							{
								"number": 2058,
								"amplitude": 1.275803
							},
							{
								"number": 2060,
								"amplitude": 1.272668
							},
							{
								"number": 2062,
								"amplitude": 1.2695514
							},
							{
								"number": 2064,
								"amplitude": 1.266453
							},
							{
								"number": 2066,
								"amplitude": 1.263371
							},
							{
								"number": 2068,
								"amplitude": 1.2602996
							},
							{
								"number": 2070,
								"amplitude": 1.2572336
							},
							{
								"number": 2072,
								"amplitude": 1.254172
							},
							{
								"number": 2074,
								"amplitude": 1.2511125
							},
							{
								"number": 2076,
								"amplitude": 1.24805
							},
							{
								"number": 2078,
								"amplitude": 1.2449806
							},
							{
								"number": 2080,
								"amplitude": 1.2419053
							},
							{
								"number": 2082,
								"amplitude": 1.2388301
							},
							{
								"number": 2084,
								"amplitude": 1.23576
							},
							{
								"number": 2086,
								"amplitude": 1.2327008
							},
							{
								"number": 2088,
								"amplitude": 1.2296579
							},
							{
								"number": 2090,
								"amplitude": 1.2266345
							},
							{
								"number": 2092,
								"amplitude": 1.2236319
							},
							{
								"number": 2094,
								"amplitude": 1.2206497
							},
							{
								"number": 2096,
								"amplitude": 1.2176855
							},
							{
								"number": 2098,
								"amplitude": 1.2147365
							},
							{
								"number": 2100,
								"amplitude": 1.2118013
							},
							{
								"number": 2102,
								"amplitude": 1.2088747
							},
							{
								"number": 2104,
								"amplitude": 1.2059486
							},
							{
								"number": 2106,
								"amplitude": 1.2030162
							},
							{
								"number": 2108,
								"amplitude": 1.200073
							},
							{
								"number": 2110,
								"amplitude": 1.197115
							},
							{
								"number": 2112,
								"amplitude": 1.1941396
							},
							{
								"number": 2114,
								"amplitude": 1.1911489
							},
							{
								"number": 2116,
								"amplitude": 1.1881424
							},
							{
								"number": 2118,
								"amplitude": 1.1851194
							},
							{
								"number": 2120,
								"amplitude": 1.1820801
							},
							{
								"number": 2122,
								"amplitude": 1.1790283
							},
							{
								"number": 2124,
								"amplitude": 1.1759694
							},
							{
								"number": 2126,
								"amplitude": 1.1729119
							},
							{
								"number": 2128,
								"amplitude": 1.1698668
							},
							{
								"number": 2130,
								"amplitude": 1.166841
							},
							{
								"number": 2132,
								"amplitude": 1.1638377
							},
							{
								"number": 2134,
								"amplitude": 1.1608588
							},
							{
								"number": 2136,
								"amplitude": 1.1579018
							},
							{
								"number": 2138,
								"amplitude": 1.1549598
							},
							{
								"number": 2140,
								"amplitude": 1.1520272
							},
							{
								"number": 2142,
								"amplitude": 1.1490989
							},
							{
								"number": 2144,
								"amplitude": 1.1461684
							},
							{
								"number": 2146,
								"amplitude": 1.1432334
							},
							{
								"number": 2148,
								"amplitude": 1.1402932
							},
							{
								"number": 2150,
								"amplitude": 1.1373523
							},
							{
								"number": 2152,
								"amplitude": 1.1344228
							},
							{
								"number": 2154,
								"amplitude": 1.1315194
							},
							{
								"number": 2156,
								"amplitude": 1.1286601
							},
							{
								"number": 2158,
								"amplitude": 1.125857
							},
							{
								"number": 2160,
								"amplitude": 1.1231164
							},
							{
								"number": 2162,
								"amplitude": 1.1204432
							},
							{
								"number": 2164,
								"amplitude": 1.117836
							},
							{
								"number": 2166,
								"amplitude": 1.1152871
							},
							{
								"number": 2168,
								"amplitude": 1.1127911
							},
							{
								"number": 2170,
								"amplitude": 1.1103408
							},
							{
								"number": 2172,
								"amplitude": 1.107931
							},
							{
								"number": 2174,
								"amplitude": 1.1055585
							},
							{
								"number": 2176,
								"amplitude": 1.1032186
							},
							{
								"number": 2178,
								"amplitude": 1.1009084
							},
							{
								"number": 2180,
								"amplitude": 1.0986313
							},
							{
								"number": 2182,
								"amplitude": 1.096394
							},
							{
								"number": 2184,
								"amplitude": 1.0942016
							},
							{
								"number": 2186,
								"amplitude": 1.092054
							},
							{
								"number": 2188,
								"amplitude": 1.0899539
							},
							{
								"number": 2190,
								"amplitude": 1.0879087
							},
							{
								"number": 2192,
								"amplitude": 1.0859258
							},
							{
								"number": 2194,
								"amplitude": 1.0840153
							},
							{
								"number": 2196,
								"amplitude": 1.0821921
							},
							{
								"number": 2198,
								"amplitude": 1.0804687
							},
							{
								"number": 2200,
								"amplitude": 1.0788579
							},
							{
								"number": 2202,
								"amplitude": 1.0773698
							},
							{
								"number": 2204,
								"amplitude": 1.0760101
							},
							{
								"number": 2206,
								"amplitude": 1.0747854
							},
							{
								"number": 2208,
								"amplitude": 1.073705
							},
							{
								"number": 2210,
								"amplitude": 1.0727776
							},
							{
								"number": 2212,
								"amplitude": 1.0720091
							},
							{
								"number": 2214,
								"amplitude": 1.0714085
							},
							{
								"number": 2216,
								"amplitude": 1.0709902
							},
							{
								"number": 2218,
								"amplitude": 1.0707738
							},
							{
								"number": 2220,
								"amplitude": 1.0707847
							},
							{
								"number": 2222,
								"amplitude": 1.0710521
							},
							{
								"number": 2224,
								"amplitude": 1.071603
							},
							{
								"number": 2226,
								"amplitude": 1.0724626
							},
							{
								"number": 2228,
								"amplitude": 1.0736537
							},
							{
								"number": 2230,
								"amplitude": 1.0751929
							},
							{
								"number": 2232,
								"amplitude": 1.077096
							},
							{
								"number": 2234,
								"amplitude": 1.0793753
							},
							{
								"number": 2236,
								"amplitude": 1.082031
							},
							{
								"number": 2238,
								"amplitude": 1.0850499
							},
							{
								"number": 2240,
								"amplitude": 1.0884075
							},
							{
								"number": 2242,
								"amplitude": 1.0920684
							},
							{
								"number": 2244,
								"amplitude": 1.0959842
							},
							{
								"number": 2246,
								"amplitude": 1.1000968
							},
							{
								"number": 2248,
								"amplitude": 1.1043423
							},
							{
								"number": 2250,
								"amplitude": 1.1086512
							},
							{
								"number": 2252,
								"amplitude": 1.11295
							},
							{
								"number": 2254,
								"amplitude": 1.1171715
							},
							{
								"number": 2256,
								"amplitude": 1.1212581
							},
							{
								"number": 2258,
								"amplitude": 1.1251702
							},
							{
								"number": 2260,
								"amplitude": 1.1288877
							},
							{
								"number": 2262,
								"amplitude": 1.1324077
							},
							{
								"number": 2264,
								"amplitude": 1.1357341
							},
							{
								"number": 2266,
								"amplitude": 1.1388752
							},
							{
								"number": 2268,
								"amplitude": 1.1418495
							},
							{
								"number": 2270,
								"amplitude": 1.1446774
							},
							{
								"number": 2272,
								"amplitude": 1.1473755
							},
							{
								"number": 2274,
								"amplitude": 1.1499628
							},
							{
								"number": 2276,
								"amplitude": 1.1524647
							},
							{
								"number": 2278,
								"amplitude": 1.1549072
							},
							{
								"number": 2280,
								"amplitude": 1.1573082
							},
							{
								"number": 2282,
								"amplitude": 1.1596884
							},
							{
								"number": 2284,
								"amplitude": 1.1620779
							},
							{
								"number": 2286,
								"amplitude": 1.1645198
							},
							{
								"number": 2288,
								"amplitude": 1.1670547
							},
							{
								"number": 2290,
								"amplitude": 1.1697052
							},
							{
								"number": 2292,
								"amplitude": 1.1724765
							},
							{
								"number": 2294,
								"amplitude": 1.1753656
							},
							{
								"number": 2296,
								"amplitude": 1.178366
							},
							{
								"number": 2298,
								"amplitude": 1.181462
							},
							{
								"number": 2300,
								"amplitude": 1.184632
							},
							{
								"number": 2302,
								"amplitude": 1.1878475
							},
							{
								"number": 2304,
								"amplitude": 1.1910663
							},
							{
								"number": 2306,
								"amplitude": 1.194226
							},
							{
								"number": 2308,
								"amplitude": 1.1972595
							},
							{
								"number": 2310,
								"amplitude": 1.2001264
							},
							{
								"number": 2312,
								"amplitude": 1.2028124
							},
							{
								"number": 2314,
								"amplitude": 1.2053288
							},
							{
								"number": 2316,
								"amplitude": 1.2077036
							},
							{
								"number": 2318,
								"amplitude": 1.2099677
							},
							{
								"number": 2320,
								"amplitude": 1.212163
							},
							{
								"number": 2322,
								"amplitude": 1.2143385
							},
							{
								"number": 2324,
								"amplitude": 1.2165438
							},
							{
								"number": 2326,
								"amplitude": 1.2188232
							},
							{
								"number": 2328,
								"amplitude": 1.2212147
							},
							{
								"number": 2330,
								"amplitude": 1.2237377
							},
							{
								"number": 2332,
								"amplitude": 1.2263883
							},
							{
								"number": 2334,
								"amplitude": 1.2291447
							},
							{
								"number": 2336,
								"amplitude": 1.2319838
							},
							{
								"number": 2338,
								"amplitude": 1.2348936
							},
							{
								"number": 2340,
								"amplitude": 1.2378576
							},
							{
								"number": 2342,
								"amplitude": 1.2408615
							},
							{
								"number": 2344,
								"amplitude": 1.2438923
							},
							{
								"number": 2346,
								"amplitude": 1.246917
							},
							{
								"number": 2348,
								"amplitude": 1.2498993
							},
							{
								"number": 2350,
								"amplitude": 1.2528116
							},
							{
								"number": 2352,
								"amplitude": 1.2556385
							},
							{
								"number": 2354,
								"amplitude": 1.2583846
							},
							{
								"number": 2356,
								"amplitude": 1.2610723
							},
							{
								"number": 2358,
								"amplitude": 1.2637339
							},
							{
								"number": 2360,
								"amplitude": 1.2663976
							},
							{
								"number": 2362,
								"amplitude": 1.2690917
							},
							{
								"number": 2364,
								"amplitude": 1.2718455
							},
							{
								"number": 2366,
								"amplitude": 1.2746822
							},
							{
								"number": 2368,
								"amplitude": 1.2776103
							},
							{
								"number": 2370,
								"amplitude": 1.2806265
							},
							{
								"number": 2372,
								"amplitude": 1.2837182
							},
							{
								"number": 2374,
								"amplitude": 1.2868679
							},
							{
								"number": 2376,
								"amplitude": 1.290067
							},
							{
								"number": 2378,
								"amplitude": 1.2933109
							},
							{
								"number": 2380,
								"amplitude": 1.2965943
							},
							{
								"number": 2382,
								"amplitude": 1.2999132
							},
							{
								"number": 2384,
								"amplitude": 1.3032668
							},
							{
								"number": 2386,
								"amplitude": 1.3066553
							},
							{
								"number": 2388,
								"amplitude": 1.3100765
							},
							{
								"number": 2390,
								"amplitude": 1.3135315
							},
							{
								"number": 2392,
								"amplitude": 1.3170241
							},
							{
								"number": 2394,
								"amplitude": 1.3205605
							},
							{
								"number": 2396,
								"amplitude": 1.3241552
							},
							{
								"number": 2398,
								"amplitude": 1.3278201
							},
							{
								"number": 2400,
								"amplitude": 1.3315567
							},
							{
								"number": 2402,
								"amplitude": 1.3353707
							},
							{
								"number": 2404,
								"amplitude": 1.3392707
							},
							{
								"number": 2406,
								"amplitude": 1.3432556
							},
							{
								"number": 2408,
								"amplitude": 1.3473196
							},
							{
								"number": 2410,
								"amplitude": 1.351455
							},
							{
								"number": 2412,
								"amplitude": 1.3556529
							},
							{
								"number": 2414,
								"amplitude": 1.3599094
							},
							{
								"number": 2416,
								"amplitude": 1.3642223
							},
							{
								"number": 2418,
								"amplitude": 1.368591
							},
							{
								"number": 2420,
								"amplitude": 1.3730123
							},
							{
								"number": 2422,
								"amplitude": 1.3774846
							},
							{
								"number": 2424,
								"amplitude": 1.3820076
							},
							{
								"number": 2426,
								"amplitude": 1.386571
							},
							{
								"number": 2428,
								"amplitude": 1.39116
							},
							{
								"number": 2430,
								"amplitude": 1.395765
							},
							{
								"number": 2432,
								"amplitude": 1.4003879
							},
							{
								"number": 2434,
								"amplitude": 1.4050306
							},
							{
								"number": 2436,
								"amplitude": 1.4096997
							},
							{
								"number": 2438,
								"amplitude": 1.4143955
							},
							{
								"number": 2440,
								"amplitude": 1.4191107
							},
							{
								"number": 2442,
								"amplitude": 1.4238474
							},
							{
								"number": 2444,
								"amplitude": 1.4286126
							},
							{
								"number": 2446,
								"amplitude": 1.4334084
							},
							{
								"number": 2448,
								"amplitude": 1.4382254
							},
							{
								"number": 2450,
								"amplitude": 1.4430473
							},
							{
								"number": 2452,
								"amplitude": 1.4478602
							},
							{
								"number": 2454,
								"amplitude": 1.4526622
							},
							{
								"number": 2456,
								"amplitude": 1.4574362
							},
							{
								"number": 2458,
								"amplitude": 1.4621422
							},
							{
								"number": 2460,
								"amplitude": 1.4667606
							},
							{
								"number": 2462,
								"amplitude": 1.4712871
							},
							{
								"number": 2464,
								"amplitude": 1.4757098
							},
							{
								"number": 2466,
								"amplitude": 1.4800209
							},
							{
								"number": 2468,
								"amplitude": 1.4842113
							},
							{
								"number": 2470,
								"amplitude": 1.4882689
							},
							{
								"number": 2472,
								"amplitude": 1.4921947
							},
							{
								"number": 2474,
								"amplitude": 1.4960021
							},
							{
								"number": 2476,
								"amplitude": 1.4996957
							},
							{
								"number": 2478,
								"amplitude": 1.5032629
							},
							{
								"number": 2480,
								"amplitude": 1.5066805
							},
							{
								"number": 2482,
								"amplitude": 1.5099292
							},
							{
								"number": 2484,
								"amplitude": 1.5129765
							},
							{
								"number": 2486,
								"amplitude": 1.5158075
							},
							{
								"number": 2488,
								"amplitude": 1.5184054
							},
							{
								"number": 2490,
								"amplitude": 1.5207481
							},
							{
								"number": 2492,
								"amplitude": 1.5228146
							},
							{
								"number": 2494,
								"amplitude": 1.5245863
							},
							{
								"number": 2496,
								"amplitude": 1.5260954
							},
							{
								"number": 2498,
								"amplitude": 1.5274844
							},
							{
								"number": 2500,
								"amplitude": 1.5288426
							}
						]
					}
				}
			}
		}
	}
}